<script type="text/javascript">
    remCompute(750, true);
</script>

<!-- --- mobile menu --- -->
<nav id="mobile-menu">
    <ul class="mobile-menu">
        @@if (context.Siapa){
        <li>
            <a class="btn-mobilemenu" href="javascript:void(0)">Siapa Kami</a>
            <a class="i-mobilemenu-arrow btn-open-submenu" href="javascript:;"></a>
            <ul class="mobile-submenu">
                @@for (var i = 0; i < (context.Siapa.length); i++) {
                <li><a href="@@if(rootUrl){@@rootUrl}`+context.Siapa[i].url+`">`+context.Siapa[i].text+`</a></li>
                }
            </ul>
        </li>
        }
        @@if (context.Products){
        <li>
            <a class="btn-mobilemenu" href="javascript:void(0)">Produk</a>
            <a class="i-mobilemenu-arrow btn-open-submenu" href="javascript:;"></a>
            <ul class="mobile-submenu">
                @@for (var i = 0; i < (context.Products.length); i++) {
                <li><a href="@@if(rootUrl){@@rootUrl}`+context.Products[i].url+`">`+context.Products[i].text+`</a></li>
                }
            </ul>
        </li>
        }
        @@if (context.Market){
        <li>
            <a class="btn-mobilemenu" href="javascript:void(0)">Market Insight</a>
            <a class="i-mobilemenu-arrow btn-open-submenu" href="javascript:;"></a>
            <ul class="mobile-submenu">
                @@for (var i = 0; i < (context.Market.length); i++) {
                <li><a href="@@if(rootUrl){@@rootUrl}`+context.Market[i].url+`">`+context.Market[i].text+`</a></li>
                }
            </ul>
        </li>
        }
        @@if (context.Promosi){
        <li>
            <a href="@@if(rootUrl){@@rootUrl}promosi.html" class="btn-mobilemenu">Promosi</a>
            <a class="i-mobilemenu-arrow" href="@@if(rootUrl){@@rootUrl}promosi.html"></a>
        </li>
        }
        @@if (context.Edukasi){
        <li>
            <a class="btn-mobilemenu" href="javascript:void(0)">Edukasi</a>
            <a class="i-mobilemenu-arrow btn-open-submenu" href="javascript:;"></a>
            <ul class="mobile-submenu">
                @@for (var i = 0; i < (context.Edukasi.length); i++) {
                <li><a href="@@if(rootUrl){@@rootUrl}`+context.Edukasi[i].url+`">`+context.Edukasi[i].text+`</a></li>
                }
            </ul>

        </li>
        }
        @@if (context.Contact) {
        <li>
            <a class="btn-mobilemenu" href="javascript:void(0)">Contact</a>
            <a class="i-mobilemenu-arrow btn-open-submenu" href="javascript:;"></a>
            <ul class="mobile-submenu">
                @@for (var i = 0; i < (context.Contact.length); i++) {
                <li><a href="@@if(rootUrl){@@rootUrl}`+context.Contact[i].url+`">`+context.Contact[i].text+`</a></li>
                }
            </ul>
        </li>
        }
    </ul>
    <div class="opgroup-btns">
        @@include('./include/tags/btn-group-index.html',{
        "utm_source1":"gw_mobilemenu_open",
        "utm_source2":"gw_mobilemenu_register"
        })
    </div>
</nav>