<div class="space-h"></div>
<!-- --- PC header --- -->
<div id="site-header">
    <div class="container">
        <div id="site-logo"><a href="@@if(rootUrl){@@rootUrl}"><img src="@@if(rootUrl){@@rootUrl}public/images/logo.png" alt=""></a></div>
        <div id="globalnav">
            <div class="visible-sm visible-xs btn-mobile-menu"><a href="#"><img src="@@if(rootUrl){@@rootUrl}public/images/btn-mobile-nav.png" alt=""></a></div>
            <ul class="hidden-sm hidden-xs globalnav">
                <li><a href="https://ui.hsb.co.id/?utm_source=gw_top_open#/login/RVf" target="_blank" class="highlight" rel="nofollow">Buka Akun Live</a></li>
                <li><a href="https://ui.hsb.co.id/?utm_source=gw_top_register#/register/RVf" target="_blank" class="highlight" rel="nofollow">Buka Akun Demo</a></li>
            </ul>
        </div>
        <!--<div id="mobilenav" class="dn">-->
            <!--<ul>-->
                <!--<li><a href="https://ui.hsb.co.id/#/login/RVf">Akun Live</a></li>-->
                <!--<li><a href="https://ui.hsb.co.id/#/register/RVf">Akun Demo</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <div id="mainnav" class="">
            <ul>

                @@if (context.Products) {
                <li>
                    <a href="/trading-produk.html">Produk</a>
                    <div class="submenu submenu-products">
                        <div class="container">
                            <div class="f-pl">
                                @@for (var i = 0; i < (context.Products.length); i++) {
                                <div class="submenu-item"><a href="@@if(rootUrl){@@rootUrl}`+context.Products[i].url+`">`+context.Products[i].text+`</a></div>
                                }
                            </div>
                        </div>
                    </div>
                </li>
                }
                @@if (context.Deposit) {
                <li>
                    <a href="@@if(rootUrl){@@rootUrl}deposito-withdraw.html">Deposit/Withdraw</a>
                </li>
                }
                @@if (context.Partnership) {
                <li>
                    <a href="@@if(rootUrl){@@rootUrl}partnership.html">Partnership</a>
                </li>
                }
                @@if (context.Market) {
                <li>
                    <span>Market Insight</span>
                    <div class="submenu submenu-products">
                        <div class="container">
                            <div class="f-pl">
                                @@for (var i = 0; i < (context.Market.length); i++) {
                                <div class="submenu-item"><a href="@@if(rootUrl){@@rootUrl}`+context.Market[i].url+`">`+context.Market[i].text+`</a></div>
                                }
                            </div>
                        </div>
                    </div>
                </li>
                }
                @@if (context.Edukasi) {
                <li>
                    <span>Edukasi</span>
                    <div class="submenu submenu-products">
                        <div class="container">
                            <div class="f-pl">
                                @@for (var i = 0; i < (context.Edukasi.length); i++) {
                                <div class="submenu-item"><a href="@@if(rootUrl){@@rootUrl}`+context.Edukasi[i].url+`">`+context.Edukasi[i].text+`</a></div>
                                }
                            </div>
                        </div>
                    </div>
                </li>
                }
                @@if (context.Promosi) {
                <li>
                    <a href="@@if(rootUrl){@@rootUrl}promosi.html">Promosi</a>
                </li>
                <!--<li>-->
                    <!--<span>Promosi</span>-->
                    <!--<div class="submenu submenu-products">-->
                        <!--<div class="container">-->
                            <!--<div class="f-pl">-->
                                <!--@@for (var i = 0; i < (context.Promosi.length); i++) {-->
                                <!--<div class="submenu-item"><a href="`+context.Promosi[i].url+`">`+context.Promosi[i].text+`</a></div>-->
                                <!--}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                }
                @@if (context.Siapa) {
                <li>
                    <span>Siapa Kami</span>
                    <div class="submenu submenu-products">
                        <div class="container">
                            <div class="f-pl">
                                @@for (var i = 0; i < (context.Siapa.length); i++) {
                                <div class="submenu-item"><a href="@@if(rootUrl){@@rootUrl}`+context.Siapa[i].url+`">`+context.Siapa[i].text+`</a></div>
                                }
                            </div>
                        </div>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
</div>