<div class="space-h"></div>
<!-- --- PC header --- -->
<div class="header">
    <div class="w-part">
        <div class="site-logo"><a href="@@if(rootUrl){@@rootUrl}"><i class="head-logo"></i></a></div>
        <div class="head-btn">
            <div class="btn-mobile-menu"><a href="javascript:;"><i class="head-menu-m"></i></a></div>
            <div class="globalnav">
                <a href="https://ui.hsb.co.id/?utm_source=gw_top_open#/login/RVf" target="_blank" class="highlight btn-yellow" rel="nofollow"><i class="head-icon1"></i>Buka Akun Live</a>
                <a href="https://ui.hsb.co.id/?utm_source=gw_top_register#/register/RVf" target="_blank" class="highlight btn-yellow-default" rel="nofollow"><i class="head-icon2"></i>Buka Akun Demo</a>
            </div>
        </div>
        <div class="head-menu">
            <ul>
                @@if (context.Siapa) {
                <li>
                    <span>Siapa Kami</span>
                    <div class="submenu submenu-products">
                                @@for (var i = 0; i < (context.Siapa.length); i++) {
                                <div class="submenu-item"><a href="@@if(rootUrl){@@rootUrl}`+context.Siapa[i].url+`">`+context.Siapa[i].text+`</a></div>
                                }
                    </div>
                </li>
                }
                @@if (context.Products) {
                <li>
                    <span>Produk</span>
                    <div class="submenu submenu-products">
                                @@for (var i = 0; i < (context.Products.length); i++) {
                                <div class="submenu-item"><a href="@@if(rootUrl){@@rootUrl}`+context.Products[i].url+`">`+context.Products[i].text+`</a></div>
                                }
                    </div>
                </li>
                }
                @@if (context.Market) {
                <li>
                    <span>Market Insight</span>
                    <div class="submenu submenu-products">
                                @@for (var i = 0; i < (context.Market.length); i++) {
                                <div class="submenu-item"><a href="@@if(rootUrl){@@rootUrl}`+context.Market[i].url+`">`+context.Market[i].text+`</a></div>
                                }
                    </div>
                </li>
                }
                @@if (context.Promosi) {
                <li>
                    <a href="@@if(rootUrl){@@rootUrl}promosi.html">Promosi</a>
                </li>
                }
                @@if (context.Edukasi) {
                <li>
                    <span>Edukasi</span>
                    <div class="submenu submenu-products">
                                @@for (var i = 0; i < (context.Edukasi.length); i++) {
                                <div class="submenu-item"><a href="@@if(rootUrl){@@rootUrl}`+context.Edukasi[i].url+`">`+context.Edukasi[i].text+`</a></div>
                                }
                    </div>
                </li>
                }
                @@if (context.Contact) {
                <li>
                    <span>Contact</span>
                    <div class="submenu submenu-products">
                                @@for (var i = 0; i < (context.Contact.length); i++) {
                                <div class="submenu-item"><a href="@@if(rootUrl){@@rootUrl}`+context.Contact[i].url+`">`+context.Contact[i].text+`</a></div>
                                }
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
</div>