
@include keyframes(anibounceTop,$prefixes) {
  0%{ transform:translateY(0); }
  5%{ transform:translateY(-0.1rem); }
  10%{ transform:translateY(-0.01rem); }
  15%{ transform:translateY(-0.1rem); }
  20%{ transform:translateY(-0.01rem); }
  100%{ transform:translateY(0); }
}
@include keyframes(fillPaginationBullet,$prefixes) {
  0% {
    -webkit-transform: translateY(0) translateX(-100%);
    transform: translateY(0) translateX(-100%)
  }
  100% {
    left: translateY(-0) translateX(0)
  }
}

@include keyframes(anibounceTop,$prefixes) {
  0%{#{prefixerAttr(transform, $current-prefix)}: translateY(0);}
  5%{#{prefixerAttr(transform, $current-prefix)}: translateY(-.2rem);}
  10%{#{prefixerAttr(transform, $current-prefix)}: translateY(-.05rem);}
  15%{#{prefixerAttr(transform, $current-prefix)}: translateY(-.2rem);}
  20%{#{prefixerAttr(transform, $current-prefix)}: translateY(-.05rem);}
  100%{#{prefixerAttr(transform, $current-prefix)}: translateY(0);}
}