@import "variable";
@import "header";
@import "title";
@import "btn";
@import "slider";
@import "list";
@import "badge";
@import "tab";
@import "illustr";
@import "advantages";
@import "user";
@import "part";
@import "footer";
@import "video";

