
@import "../sp-p-common";

@import "variable";
@import "header";
@import "title";
@import "btn";
@import "slider";
@import "list";
@import "badge";
@import "tab";
@import "illustr";
@import "advantages";
@import "user";
@import "part";
@import "footer";
@import "video";
@import "null";
@import "popup";
@import "bar";
@import "produk";
//@import "float";

@media(max-width:1023px) {
  @import "../sp-m-common";
}
