
/* bottom float nav */
.float_bt{position:fixed;bottom:0;left:0;width:100%;height:100px;z-index:1000;@include rgba-background((#000,.2));display: none;
  .fl-a-link{display: block;float: left;line-height:100px;color:#fff;font-size: 28px;
    & ~ .fl-a-link{border-left: 1px solid #4f4f4f;margin-left: -1px;}
    [class*="fl-icon"],[class*="i-float-"]{@include inline-block;height:33px;margin-top: 33px;margin-right: 14px;background-size: auto 33px;}
  }
  .fl-link-group{text-align: center;@include clearfix;
    &.group-two{
      .fl-a-link{width:50%;}
    }
  }
  .fl-icon1{background:url(../images/base64/fl-icon1.png) no-repeat center center;width:52px;}
  .fl-icon2{background:url(../images/base64/fl-icon2.png) no-repeat center center;width:40px;}

  .i-float-symbol{background:url(../images/base64/i-float-symbol.png) no-repeat center center; width:33px;}
  .i-float-download{background:url(../images/base64/i-float-download.png) no-repeat center center; width:33px;}

}

/* right float ad */
.float_rc_ad{position: fixed;right:4px; top: 50%; margin-top: -190px;@include size(190px,376px);background: url(../images/sp-float-rc.png) 0 0 no-repeat; z-index: 10;
  .fr_btnpart{ padding: 318px 0 0; }
  .fr_txtpart{
    & + .fr_btnpart{padding-top: 100px;}
  }
  .online_service{ display: block;cursor:pointer;text-align:center;@include size(150px,36px);margin:0 auto;color:#fff;font-family: "Arial";line-height: 36px;border-radius: 6px;background:#425ee6;
    &:hover{background:#4f6cfb;}
  }
  .fr_delbtn{position:absolute;right:4px;top:32px;display:block;@include size(12px,12px);margin:0;background:url(../images/sp-float-rc.png) no-repeat 1px -388px;
    &:hover{background:url(../images/base64/fr-delbtnh.png) no-repeat 0 0;}
  }
  .fr_service_btn{display:block;text-align:center;text-transform: uppercase;font-size: 14px;
    @include prefixer(transform, scale(.9), ("webkit", "moz","ms","o"));
    @include prefixer(transform-origin, center center, ("webkit", "moz","ms","o"));}

  .main-txt{text-align: center;padding-top: 114px;
    p{text-align: center;}
    .txt-top{@include gradient-horizontal(#4962ff,#364ec8);height:29px;line-height: 29px;font-size: 12px;color:#84b6ff;margin-bottom: 18px;}
  }
  .line-tit{@include inline-block;position: relative;font-size: 14px;color:#fff;padding: 0 18px;background: #1e308d;
    i{position: absolute;top:50%;@include inline-block;@include size(13px,1px);@include rgba-background((#606bac,.42));
      &.line-l{left: 0;}
      &.line-r{right:0;}
    }
  }
  .txt-get{font-size: 20px;color:#fff;text-transform: uppercase;font-weight: 700;padding-bottom: 7px;background: #1e308d;
    span{color:#ecc786;font-size: 22px;margin-left: 1px;}
  }
}


@media(max-width:1023px) {
  /* right float ad */
  .float_rc_ad{display: none;}
  /* bottom float nav */
  .float_bt{display: block;height: 50px;
    .fl-a-link{line-height:50px;font-size: 14px;
      [class*="fl-icon"],[class*="i-float-"]{height:17px;background-size:auto 17px;margin-top: 16px;margin-right: 7px;}
    }
    .fl-icon1{width:26px;}
    .fl-icon2{width:20px;}
    .i-float-symbol{width:17px;}
    .i-float-download{width:17px;}
  }
}