
/*footer*/
$footer-bg:#10203a;
$footer-bg1:#0d1b32;
.footer{background: $footer-bg;font-size: 14px;color:#999;line-height: 1.7;
  a{color:#999;}
  i{@include inline-block;}
  .foot-tit{font-size: 16px;color:#fff;margin-bottom: 10px;}
  .border-line{border-bottom: 1px dotted #283a57;}
  .risk-warning{}
  .alink-list{
    a{display: block;line-height: 2.57;@include prefixer(transition,all .3s ease,$prefixes);left:0;
      &:hover{color:#fff;position:relative;left: 10px;}
    }
    .foot-tit{}
  }
  .footer-contact{
    i[class*="i-"]{margin: 16px 11px 16px 25px;}
    p{padding-top: 17px;@include inline-block;
      & + p{padding-top: 0;}
      a{
        & + a{margin-left: 10px;}
      }
    }
  }
  .btn-anchor{position: relative;display: block;width: 96%;
    span{margin-right: 10px;}
    .i-new1{position: absolute;right:0;bottom:16%;}
  }
  .footer-list-col{padding-bottom: 52px;}
}
.footer-bottom{text-align: right;background: $footer-bg1;line-height: 50px;color:#62677d;
  .footer-social{float: left;@include inline-block;
    i{vertical-align: middle;
      & + i{margin-left: 8px;}
    }
    a{
      & + a{margin-left: 8px;}
    }
  }
}
.footer-license{padding-top: 40px;padding-bottom: 70px;
  .license-list{text-align: center;padding: 25px 0;margin: 0 -60px;
    i{@include inline-block;margin: 0 56px;/*@include prefixer(transition,all .1s linear,$prefixes);*/}
  }
}
.footer-disclaimer{padding-bottom: 52px;
  .legalitas-txt{
    .legalitas-txt-s1{@include inline-block;width:330px;}
    em{font-style: normal;}
    .legalitas-txt-e1{@include opacity(1);color: inherit;}
  }
}
.footer-notice{
  & + .foot-tit{margin-top: 20px;}
  .btn-anchor{background: $footer-bg1;padding: 6px 2%;
    .i-new1{right:10px;bottom:35%;margin-right: 0;}
    & + .btn-anchor{margin-top: 10px;}
  }
  .eachOneScrollUp{overflow: hidden;height: 50px;position: relative;padding-right: 36px;
    ul{position: relative;top:0;
      li{margin-bottom: 6px;}
    }
    .btn-anchor{padding: 0 2%;height:50px;line-height: 1.4;
      & > span{padding-top: 6px;margin: 0;display: block;}
    }
    .op-btn{position: absolute;right:0;top:0;width:30px;
      a{display: block;background: $footer-bg1;height:22px;text-align: center;line-height: 22px;
        i{vertical-align: middle;@include opacity(1);margin: 0;float: none;
        }
        & + a{margin-top: 6px;}
        &.disabled{
          i{@include opacity(.3);}
        }
        &:hover{ @include opacity(1); }
      }
      i{@include inline-block;}
    }
  }
}
.footer-contact{
  li{background-color:$footer-bg1;  height: 50px;  cursor: pointer;
    b{font-weight: normal;}
    & + li{margin-top: 10px;}
  }
}
.footer-list-col{@include clearfix;
  .col-2-1{float:right;width:48%;
    &:first-child{float: left;}
  }
  .col-4-1{float: left;width:22%;}
}


@media(max-width:1023px) {
  .footer{font-size: .18rem;line-height: 1.4;
    .foot-tit{font-size: .2rem;margin-bottom: .15rem;}
    .border-line{border-bottom-width: .02rem;}
    .alink-list{
      a{line-height: 2;display: inline-block;
        & + a{margin-left: .15rem;}
        &:hover{left: 0;}
      }
      .foot-tit{}
    }
    .footer-contact{
      i[class*="i-"]{margin: .12rem .12rem .16rem .24rem;}
      p{padding-top: .18rem;
        & + p{padding-top: 0;}
        a{
          & + a{margin-left: .2rem;}
        }
      }
    }
    .btn-anchor{position: relative;display: block;width: 96%;
      span{margin-right: .1rem;}
      .i-new1{position: absolute;right:0;bottom:16%;}
    }
    .footer-list-col{padding-bottom: .52rem;}
    .footer-interact{padding: .3rem 0 0;}
  }
  .footer-bottom{text-align: center;line-height: .5rem;
    .footer-social{float: none;display: block;padding: .28rem 0 .02rem;
      i{vertical-align: middle;
        & + i{margin-left: .35rem;}
      }
      a{
        & + a{margin-left: .35rem;}
      }
    }
  }
  .footer-license{padding-top: .4rem;padding-bottom: .5rem;
    .license-list{padding: .25rem 0 .4rem;margin: 0;white-space:nowrap;
      i{margin: 0 .18rem;
        &:first-child{margin-left: 0;}
        &:last-child{margin-right: 0;}
      }
    }
  }
  .footer-disclaimer{padding-bottom: .14rem;
    .legalitas-txt{white-space: nowrap;
      .legalitas-txt-s1{width:4.16rem;white-space: nowrap;}
      em{font-style: normal;}
    }
  }
  .footer-interact{padding: 0 0 .3rem;border-bottom: none;}
  .footer-notice{
    & + .foot-tit{margin-top: .3rem;}
    .btn-anchor{padding: .06rem 2%;
      span{margin-left: .07rem;}
      .i-new1{right:.18rem;bottom:32%;}
      & + .btn-anchor{margin-top: .1rem;}
    }
    .eachOneScrollUp{height: .6rem;padding-right: .36rem;
      ul{
        li{margin-bottom: .06rem;}
      }
      .btn-anchor{height:.6rem;
        & > span{padding-top: .06rem;}
      }
      .op-btn{width:.3rem;
        a{height:.27rem;line-height: .27rem;
          & + a{margin-top: .06rem;}
        }
      }
    }
  }
  .footer-contact{
    li{height: .6rem;
      b{margin-right: .06rem;}
      & + li{margin-top: .1rem;}
    }
  }
  .footer-list-col{
    .col-2-1{width:100%;
      & + .col-2-1{margin-top:.46rem;}
    }
    .col-4-1{float: left;width:auto;margin-right: .1rem;
      .foot-tit{margin-top: .3rem;}
      & + .col-4-1{}
      & + .col-2-1{margin-top: .3rem;}
    }
  }
}