
/*list*/
.list-group{padding-bottom: 86px;@include prefixer(user-select, none,$prefixes);-webkit-tap-highlight-color: transparent;
  .list-item{@include inline-block;}
  .item-icon{@include inline-block;}
  .item-txt{
    .txt-top{font-size: 24px;color:#444;font-family: 'pops';margin-bottom: 18px;}
    .txt{font-size: 16px;color:#777;line-height: 1.6;}
  }

  &.list-col-2{@include clearfix;
    li{float: left;width:50%;}
  }
  &.list-col-3{@include clearfix;
    li{float: left;width:33.3%;}
  }
  &.choice-list{margin: 0 -24px;
    li{margin-bottom: 50px;}
    .list-item{display:block;margin: 0 24px;background: #fff;height:220px;position: relative;
      .item-icon{position: absolute;bottom:0;right:0;}
    }
    .item-txt{padding:0 45px;display: table-cell;vertical-align: middle;height:220px;
    }
  }
  &.products-list{margin: 0 -30px;
    li{float: none;@include inline-block;width: auto;padding: 0 24px;}
    .list-item{@include size(360px,430px);display: table-cell;vertical-align: middle;
      &:hover,&.hover{background-color: #fff;box-shadow: 0 0 32px 0 rgba(27, 27, 27, 0.1);
        @include prefixer(transition,all .15s ease-out,$prefixes);
        .btn-group{display: block;}
        [class*="item-"]{@include prefixer(transform,scale(1.08),$prefixes);}
      }
      .item-icon{margin-bottom: 27px;}
    }
    .btn-group{margin-top: 27px;display: none;
      .btn-gw{@include size(158px,50px);line-height: 50px;}
    }
  }
  &.platform-list{
    .list-item{padding-top: 30px;
    }
    .item-txt{padding-top: 22px;
      .txt-top{color:#fff;margin-bottom: 8px;}
      .txt{color:#fff;}
    }
  }
}
.list-tb{@include clearfix;color:#444;
  i{@include inline-block;}
  .tb-cell{float:left;
    & > [class*="tb-t"]{line-height: 86px;
      .i-vs{margin: -3px 0;}
      span{@include inline-block;vertical-align:middle;line-height: 1;}
    }
  }
  .tb-th{font-size: 24px;font-family: 'pops';
    br{display: none;}
  }
  .tb-td{font-size: 20px;padding-right: 20px;}

  &.platform-tb{padding-top: 10px;padding-bottom: 144px;
    .tb-cell0{text-align: right;
      & > [class*="tb-t"]{padding-right: 95px;}
      [class*="i-"]{right:40px;}
    }
    .tb-cell2{text-align: left;
      & > [class*="tb-t"]{padding-left: 95px;}
      [class*="i-"]{left:40px;}
    }
    .tb-cell0,.tb-cell2{width:40%;
      & > [class*="tb-t"]{background-color: #f1f1f1;
        &:nth-child(even){background-color: #f7f7f7;}
      }
    }
    .tb-cell1{width: 20%;color:#fff;
      & > [class*="tb-t"]{background-color: #ec6b41;
        &:nth-child(even){background-color: #f3764c;}
      }
      .tb-td{padding-right: 0;}
    }
    .tb-td{position: relative;
      [class*="i-"]{position: absolute;top:50%;}
      [class*="i-x"]{margin-top: -4px;}
      [class*="i-r"]{margin-top: -13px;}
    }

    & + .opgroup-btns{margin-top: -50px;padding-bottom: 20px;
      .link-group{padding: 0;
      }
    }
  }
}



@media(max-width:1023px) {
  .list-group{padding-bottom: .72rem;
    .item-txt{
      .txt-top{font-size: .24rem;margin-bottom: .12rem;}
      .txt{font-size: .2rem;/*line-height: 1.6;*/
        br{display: none;}
      }
    }

    &.list-col-2{
      li{width:100%;}
    }
    &.list-col-3{
      li{width:100%;}
    }
    &.choice-list{margin: 0;
      li{margin-bottom: .2rem;}
      .list-item{margin: 0;height:2.2rem;
        //.item-icon{position: absolute;bottom:0;right:0;}
      }
      .item-txt{padding:0 1.66rem 0 .36rem;height:2.2rem;
        .txt-top{padding-top: .1rem;}
      }
    }
    &.products-list{margin: 0;
      li{display:block;width:100%;padding: 0;margin-bottom: .2rem;
        //& + li{}
      }
      .list-item{@include size(100%,2.2rem);background-color: #fff;box-shadow: 0 0 .32rem 0 rgba(27, 27, 27, 0.1);display: block;text-align: left;position: relative;
        &:hover,&.hover{box-shadow: 0 0 .32rem 0 rgba(27, 27, 27, 0.1);
          @include prefixer(transition,none,$prefixes);@include prefixer(transform,scale(1),$prefixes);
        }
        .item-icon{margin-bottom: 0;position: absolute;left:.4rem;top:50%;margin-top:-.55rem;}
        .item-txt{display: table-cell;vertical-align: middle;height:2.2rem;padding: 0 1.92rem;}
      }
      .btn-group{display: block;position: absolute;top:50%;margin-top: -.35rem;right:.32rem;
        .btn-gw{@include size(1.56rem,.66rem);line-height: .66rem;font-size: .24rem;}
      }
    }
    &.platform-list{
      li{
        & + li{margin-top: .65rem;}
      }
      .list-item{padding-top: 0;display: block;position: relative;padding-left: 2.15rem;}
      .item-icon{position: absolute;left:.6rem;top:50%;margin-top: -.4rem;}
      .item-txt{padding-top:0;text-align: left;
        .txt-top{margin-bottom: 8px;}
      }
    }
  }

  .list-tb{
    .tb-cell{
      & > [class*="tb-t"]{line-height: .86rem;
        .i-vs{margin: -.03rem 0;}
      }
    }
    .tb-th{font-size: .24rem;
      br{display: block;}
    }
    .tb-td{font-size: .18rem;padding-right: .1rem;}

    &.platform-tb{padding-top: 0;padding-bottom: .92rem;
      .tb-cell0{
        & > [class*="tb-t"]{padding-right: .55rem;}
        [class*="i-"]{right:.2rem;}
      }
      .tb-cell2{
        & > [class*="tb-t"]{padding-left: .55rem;}
        [class*="i-"]{left:.2rem;}
      }
      .tb-cell0{width:36%;}
      .tb-cell2{width:43%;}
      .tb-cell1{width: 21%;}
      .tb-td{
        [class*="i-x"]{margin-top: -.04rem;}
        [class*="i-r"]{margin-top: -.13rem;}
      }
      & + .opgroup-btns{margin-top: 0;padding-bottom: 0;
      }
    }
  }
}