
/*slider*/
.slider{position: relative;width:100%;margin: 0 auto;
  i{@include inline-block;}
  .arrow-btn {display: block;text-align: center;position: absolute;top: -42px;z-index:9;cursor: pointer;
    &.btn-prev {left: 100%;margin-left: -138px;}
    &.btn-next {right: -3px;}
  }
  .slider-items {width: 100%;height: 100%;margin: 0 auto;overflow: hidden;position: relative;
    ul {position: relative;padding: 0;height: 100%;width:510%;}
    li {@include inline-block;margin: 0 8px;
    }
  }
  .slider-item{position: relative;}
  .s-title{display: block;line-height: 1.2;}
  .s-desc{font-size: 16px;color:#777;display: block;margin-top: 12px;line-height: 1.6;}
  .s-icon{}
  .slider-link{display: block;font-size: 20px;color:#f15724;position: relative;
    a{color:#f15724;display: block;position: relative;}
    [class*="i-arrow-r"]{position: absolute;top:50%;right:0;margin-top: -10px;}
  }

  &.article-block{font-size: 24px;padding-top: 0;
    .arrow-btn {top: 100%;margin-top: -195px;*margin-top:-160px;
      &.btn-prev {left: 0;margin-left: 15px;}
      &.btn-next {right: auto;left:85px;}
    }
    .slider-items{width:1000%;padding-bottom: 195px;
      li{margin: 0;padding:42px 15px;}
      .slider-item{margin:42px 15px;float: left;
        &:first-child{margin-left: 0;}
      }
    }
    .slider-item{box-shadow: 0 0 32px 0 rgba(27, 27, 27, 0.1);background: #fff;@include size(380px,370px);@include prefixer(transition,all .3s ease,$prefixes);top:0;
      img{@include size(380px,300px);display: block;}
      &:hover{top:-10px;}
    }
    .s-title{color:#fff;position: absolute;bottom:96px;left:20px;text-shadow:0 0 5px #000;}
    .time-badge{position: absolute;left:10px;top:10px;}
    .s-icon{position: absolute;top:10px;right:10px;}
    .slider-link{line-height: 70px;padding: 0 20px;}
  }
  &.feedback-block{margin: -17px -15px 125px;width:auto;height: 333px;overflow: hidden;
    .arrow-btn {top: 50%;margin-top: -70px;
      &.btn-prev {left: 0;margin-left: 15px;}
      &.btn-next {right: 0;margin-right:15px;left:auto;}
    }
    .slider-items{
      li{margin: 0;padding:34px 15px;}
      .slider-item{margin:34px 15px;float: left;}
    }
    .slider-item{box-shadow: 0 0 32px 0 rgba(27, 27, 27, 0.1);background: #fff;@include size(400px,255px);
    }
    .s-title{font-size: 24px;color:#444;padding: 25px;
      & > span:first-child{font-family: 'pops';}
    }
    .s-desc{font-weight: normal;}
    .user-info{position: absolute;bottom:25px;left:25px;}
  }
}

.index-banner{position: relative;height: 650px;z-index: 1;
  .slider-banner{height: 100%;}
  & + .opgroup-btns{margin-top: -32px;position: relative;z-index: 2;}
}
.slider-banner {position: relative;width: 100%;height: 650px;overflow: hidden;
  .slide { /* height: 100%;*/height: 650px;width:100%;  float: left;  clear: none;position: relative;
    & > a{display: block;background-position: center center;background-repeat: no-repeat;width:100%;height:100%;}
  }
  .slick-dots {position: absolute;left:0;right:0;z-index:9999;font-size:0;text-align: center;bottom: 30px;
    li {@include inline-block;position: relative;overflow: hidden;margin: 0 2px;width: 55px;padding: 20px 0;
      &.slick-active {
        &:after {@include rgba-background((#fff,0));@include prefixer(animation,3s linear forwards fillPaginationBullet,$prefixes);}
      }
      &:after,div{position: absolute;top: 50%;content: "";display: block;width: 100%;background: #fff;height: 4px;}
      div{@include rgba-background((#fff,.8));}
      &:after{@include rgba-background((#fff,1));}
    }
  }
}


@media(max-width:1023px) {
  .slider{
    .arrow-btn {top: -.42rem;
      &.btn-prev {/*left: 100%;*/margin-left: -1.38rem;}
      &.btn-next {right: -.03rem;}
    }
    .slider-items {/*width: 100%;height: 100%;margin: 0 auto;overflow: hidden;position: relative;*/
      //ul {position: relative;padding: 0;height: 100%;width:510%;}
      li {/*@include inline-block;*/margin: 0 .08rem;}
    }
    //.slider-item{position: relative;}
    //.s-title{line-height: 1.2;}
    .s-desc{font-size: .2rem;margin-top: .08rem;/*line-height: 1.6;*/}
    .s-icon{}
    .slider-link{font-size: .2rem;
      [class*="i-arrow-r"]{margin-top: -.1rem;}
    }

    &.article-block{font-size: .24rem;/*padding-top: 0;*/
      .arrow-btn {margin-top: -1.8rem;
        &.btn-prev {margin-left: .15rem;}
        &.btn-next {left:1.43rem;}
      }
      .slider-items{padding-bottom: 1.8rem;
        li{padding:.48rem .15rem;
          &:first-child{margin-left: 0;}
          &:last-child{margin-right: 0;}
        }
        .slider-item{margin:.48rem .15rem;}
      }
      .slider-item{box-shadow: 0 0 .32rem 0 rgba(27, 27, 27, 0.1);@include size(3.8rem,3.7rem);
        img{@include size(3.8rem,3rem);}
        &:hover{top:0;}
      }
      .s-title{/*color:#fff;position: absolute;*/bottom:.96rem;left:.2rem; text-shadow:0 0 .05rem #000;}
      .time-badge{left:.1rem;top:.1rem;}
      .s-icon{/*position: absolute;*/top:.1rem;right:.1rem;}
      .slider-link{line-height: .7rem;padding: 0 .2rem;}
    }
    &.feedback-block{margin: -.35rem -.15rem .86rem;width:auto;height: 3.5rem;
      .arrow-btn {margin-top: -.8rem;
        &.btn-prev {margin-left:0;}
        &.btn-next {margin-right:0;}
      }
      .slider-items{
        li{margin: 0;padding:.34rem .15rem;}
        .slider-item{margin:.34rem .15rem;}
      }
      .slider-item{box-shadow: 0 0 .32rem 0 rgba(27, 27, 27, 0.1);@include size(4rem,2.82rem);
      }
      .s-title{font-size: .24rem;padding: .25rem;}
      .user-info{bottom:.24rem;left:.25rem;line-height: 1;font-size: 0;}
    }
  }
  .index-banner{height: 2.56rem;
    & + .opgroup-btns{margin-top: 0;}
  }
  .slider-banner {height: 2.56rem;
    .slide {height:2.56rem;
      & > a{background-size:auto 2.56rem;}
    }
    .slick-dots {bottom: 0;
      li {margin: 0 .02rem;width: .55rem;padding: .24rem 0;
        &:after,div{height: .04rem;}
      }
    }
  }
}
