/*user*/
.user-info{
  .s-avatar{@include inline-block;
    img{display: block;border-radius: 2px;}
    & + .user-data{margin-left: 15px;}
  }
  .user-data{@include inline-block;
    .u-name{display: block;font-size: 16px;color:#777;}
    .u-rating{
      i{
        & + i{margin-left: 4px;}
      }
    }
  }
}

@media(max-width:1023px) {
  .user-info{
    .s-avatar{
      img{border-radius: .02rem;width:.4rem;}
      & + .user-data{margin-left: .15rem;}
    }
    .user-data{
      .u-name{font-size: .2rem;margin-bottom: .02rem;}
      .u-rating{
        i{
          & + i{margin-left: .04rem;}
        }
      }
    }
  }
}
