@import "gw/variable";
@import "../../mixins/library";
@import "../../mixins/keyframes/keyframes";

body{@include prefixer(user-select, none,$prefixes);overflow-x: hidden;}
.w-part{width: 1190px;margin: 0 auto;}
.bg-f7f7f7{background-color: #f7f7f7;}

@import "gw/common";

//******* sprites
//----------------------------
@import "sp-p-icon1";
@import "sp-p-illustr1";
@import "sp-p-illustr2";
@import "sp-p-common";
.i-new1{@include prefixer(animation,anibounceTop 2s cubic-bezier(0.21, 0.4, 0.68, 1.35) infinite,$prefixes);}


/* ============ Animation ============ */
@import "gw/animation";

/* ============ Responsive ============ */
@import "gw/queries";
@media(max-width:1023px) {
  .wrapper{max-width: 750px;margin: 0 auto;}
  .w-part{width: auto;max-width: 750px;padding-left: .2rem;padding-right: .2rem;@include box-sizing(border-box);}
  @import "gw-mw979";
}
@media(max-width:750px) {
  .wrapper,.w-part{width:7.5rem;}
}

/* ============ Compatible ============ */
@import "gw/compatible";