@import "gw/variable";
@import "../../mixins/library";
@import "../../mixins/keyframes/keyframes";

//@include font-face('pops','../font/Poppins-SemiBold',("eot","woff","ttf","svg"),false){
//  font-weight: normal;
//  font-style: normal;
//}
//
//@include font-face('pops','../font/avenirnextdemibold',("eot","woff","ttf","svg"),false){
//  font-weight: normal;
//  font-style: normal;
//}
//@include font-face('anb','../font/AvenirNextBold',("eot","woff","ttf","svg"),false){
//  font-weight: normal;
//  font-style: normal;
//}
//
//.pops{font-family: 'pops';}

@include font-face('Avenir Next OT','../font/2fgPZL',("eot","woff","ttf","svg"),false){
  font-weight: 400;
  font-display:swap
}
@include font-face('Avenir Next OT','../font/20Rwl3',("eot","woff","ttf","svg"),false){
  font-weight: 500;
  font-display:swap
}
@include font-face('Avenir Next OT','../font/1NivJO',("eot","woff","ttf","svg"),false){
  font-weight: 600;
  font-display:swap
}
@include font-face('Avenir Next OT','../font/30FGTu',("eot","woff","ttf","svg"),false){
  font-weight: 700;
  font-display:swap
}
body {
  font-family: 'Avenir Next OT',Arial,sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased
}
body{@include prefixer(user-select, none,$prefixes);background: #fff;}
.w-part{width: 1190px;margin: 0 auto;}
.bg-f7f7f7{background-color: #f7f7f7;}
.container{
  .w-part{width:auto;}
}
.index-page .part7{overflow: hidden;}

@import "gw/common";

//******* sprites
//----------------------------
@import "sp-p-icon1";
.i-new1{@include prefixer(animation,anibounceTop 2s cubic-bezier(0.21, 0.4, 0.68, 1.35) infinite,$prefixes);}


/* ============ Animation ============ */
@import "gw/animation";

/* ============ Responsive ============ */
@import "gw/queries";
@media(max-width:1023px) {
  .wrapper{max-width: 750px;margin: 0 auto;}
  .w-part{width: auto;max-width: 750px;padding-left: .2rem;padding-right: .2rem;@include box-sizing(border-box);}

  @import "sp-m-icon1";
}
@media(max-width:750px) {
  .wrapper,.w-part{width:7.5rem;}
}

/* ============ Compatible ============ */
@import "gw/compatible";