@charset "utf-8";
$support_for_ie: true;
$prefixes:('webkit','moz','ms','o');
@import "../../mixins/library";
@import "../../mixins/keyframes/keyframes";
/*BukaAkun-----------------------------------------------------------*/
/*banner begin*/
.trading-banner{ width: 100%; height:491px; background: url("../images/trading/trading-banner.jpg") no-repeat center; background-size: 100% 100%;}
.trading-banner span{ text-align: center; font-size: 70px; color:#fff; padding-top: 110px; display: block;}
.trading-banner p{ font-size: 25px; text-align: center; color: #fff;}
.button-box{ text-align: center; margin-top: 20px;}
.button-box a{ width: 264px; height: 54px; display: inline-block; *display:inline;*zoom:1; background: url("../images/btn_button_open_live_account.png") no-repeat; text-align: center  }
.button-box .btn-open-acc{ background-position: 0 0}
.button-box .btn-open-acc:hover{ background-position: 0 -52px}
.button-box .btn-demo-acc{ background-position: 0 -125px; width: 200px}
.button-box .btn-demo-acc:hover{background-position: 0 -178px}
/*banner end*/
/*part1 begin*/
.trading-part1{ padding: 80px 0;background: #dadada url(../images/trading/bg-geometry.jpg) center top no-repeat;  }
.headline h2{font-size: 40px;  color: #053450; margin-bottom: 40px;}
.trading-tab-content{ background: #fff; border: 10px solid #fff;}
.trading-tab-content table th{border-bottom: 3px solid #124177; font-size: 16px;  font-weight: bold;  color: #124177; height: 45px; line-height: 45px; text-align: left}
.trading-tab-content table  tr td:not(:last-child) {  border-right: 1px solid #a4b9cc;  }
.trading-tab-content table tr td{border-bottom: 1px solid #a4b9cc; height: 38px; line-height: 38px; color: #666; padding: 0 10px;}
.trading-tab-content table tr:last-child td{ border-bottom:none}
.trading-part1 p{ padding: 20px 0;}
.trading-button{ width: 223px;  height: 52px; display: block;background: url("../images/button-img.png") no-repeat ; background-position: 0 0; text-align: center; line-height: 40px; color: #ad872d; font-size: 18px; font-weight: bold}
.trading-button:hover{ background-position:  0 -52px; line-height: 48px;}
/*part1 end*/

/*PlatformHansonTrader-----------------------------------------------------------*/
/*banner begin*/
.platforms-banner{width: 100%; height:490px; background: url("../images/platforms/platforms.png") no-repeat center; background-size: 100% 100%;}
.platforms-banner span{ text-align: center; font-size: 62px; color:#fff; padding-top: 130px; display: block; margin-bottom: 20px;}
.platforms-banner span s{ text-decoration: none;color: #00c3ff;}
.platforms-banner p{ font-size: 30px; text-align: center; color: #fff; padding-top:10px;}
/*banner end*/

/*part1 begin*/
.platforms-part1{padding: 80px 0;background: #dadada url(../images/platforms/platforms-bg.png) center top no-repeat;background-size: 100% 100%; color: #fff }
.headline-slash{ text-align: center;height: 96px;  padding: 17px 0;background: url(../images/platforms/headline-slash.png) center top no-repeat;}
.headline-slash h2{font-size: 40px;  font-weight: 300; color: #fff}
.platforms-part1 p{font-size: 18px;  text-align: center;}
.platforms-list{ margin-top: 50px; }
.platforms-list li{ float: left; width: 25%;  overflow: hidden; text-align: center; position: relative;}
.platforms-list li i{ display: block; width: 175px; height: 185px; background: url("../images/platforms/platforms-icon.png") no-repeat; margin: 0 auto;  }
.platforms-list li strong{ text-align: center;font-size: 18px;  padding-top: 28px; font-weight: 500}
.platforms-list .figure-icon1{  background-position:  0 -172px;}
.platforms-list .figure-icon2{ background-position: 0 -559px}
.platforms-list .figure-icon3{ background-position: 0 -944px}
.platforms-list .figure-icon4{ background-position: 0 -1311px}
.platforms-list .current .figure-icon1{ background-position:  0 0;}
.platforms-list .current .figure-icon2{ background-position:  0 -365px;}
.platforms-list .current .figure-icon3{ background-position:  0 -747px;}
.platforms-list .current .figure-icon4{ background-position:  0 -1131px;}
.platforms-list .current strong{color: #15abde}
.platforms-item-del .hoverLayer{width: 240px;  display: block; padding: 20px;border: 1px solid #929497;background: rgba(255,255,255,.1);
  float: left; position: relative; margin-top: 30px; }
.platforms-item-del .hide{opacity: 0;}
.platforms-item-del s{ display: block; width: 0;  height: 0;  border-style: solid; border-width: 0 8px 8px 8px;  border-color: transparent transparent #929497 transparent; position: absolute;left:50%; margin-left: -8px; top:-9px}
.platforms-item-del .box-content b{ font-weight: 500; display: block; margin-bottom: 20px;}
.platforms-item-del .box-content ul{margin-left: 18px;  margin-top: 0px;  padding-top: 0px; width: 100%}
.platforms-item-del .box-content ul li{ text-align: left; list-style: disc; width: 100%; height: auto; list-style: disc; overflow: visible}
/*part1 end*/

/*QuoteHarga-----------------------------------------------------------*/
.price-part1{ width: 100%; background: url("../images/bg-market-insight.png") no-repeat center; background-size: 100% 100%; color: #fff; padding: 80px 0;
  h1,h2{font-weight: normal;}
  h1{font-size: 40px;margin-bottom: 20px;}
  .heading{ width: 100%; height: 65px;  line-height: 65px; font-size: 32px; background: #00223b; font-weight: 100; padding-left: 20px; box-sizing: border-box}
}
.mi-table-holder{ padding: 30px; background: url("../images/box.png")repeat; font-size: 16px}
.mi-table-holder .table_stock th{ border-bottom: 2px solid #37c1f0;  color: #37c1f0; font-size: 20px; font-weight: 400; height: 65px;}
.mi-table-holder .table_stock .col-symbol{ text-align: left;}
.country-icon{ width: 32px; height: 20px; display: inline-block; margin: 0 5px 0 0; }
.mi-table-holder td{height: 30px; padding: 5px 0; border-bottom: 1px solid #638688; text-align: center}
.mi-table-holder tr:last-of-type td{ border-bottom: none}
.mi-table-holder .country-col  { text-align: left; font-weight: 500; }
.red-bg,.green-bg{ display: block;  width: 80px; height: 24px; background: #f1484b; margin: 0 auto; color: #1b277b}
.green-bg{ background:#ade05f }
.red-color{ color: #f1484b}
.green-color{ color: #ade05f}
.height-line{ margin-top: 50px;}

/*CompanyProfile-----------------------------------------------------------*/
.company-banner{ width: 100%; height: 490px; background: url("../images/CompanyProfile/CompanyProfile.png") no-repeat center; background-size: 100% 100%; }
.company-banner span{ text-align: center; font-size: 39px; color: #fff; display: block;padding-top: 110px;}
.hanson-part1{  width: 100%; background: url("../images/CompanyProfile/bg-Company.jpg") no-repeat center; background-size: 100% 100%;  padding: 100px 0; color: #fff ; }
.hanson-part1 p{/*  width: 805px;*/ display: block; margin-bottom: 20px;}
.hanson-part2{  width: 100%; background: url("../images/CompanyProfile/bg-Company2.jpg") no-repeat center; background-size: 100% 100%;  padding: 100px 0; color: #fff ; }

/* CompanyQualification----------------------------------------------------------- */
.company-qualification{background: #fafafa;}
.banner-company-qualification{width:100%;height:364px;background:url("../images/banner-company-qualification.jpg") no-repeat center;
  & + .part1{margin-top: -35px;}
}
.box-shadow{border-radius: 4px;box-shadow: 0 0 14px rgba(0, 0, 0, .1);}
.title-block-group{
  &.box-shadow{background: #fff;}
  .title-block{font-size: 40px;color:#323232;padding-top: 40px;padding-bottom: 20px;
    p{font-size: 18px;color:#656565;margin-top: 16px;
      span{display: block;}
    }
    h2{font-weight: normal;font-size: 100%;}
  }
  .main-block{

  }
  .item-block{position: relative;@include inline-block;
    .layer{position: absolute;top:0;left:0;right:0;bottom:0;@include gradient-horizontal(rgba(253, 121, 68, .8),rgba(253, 155, 68, .8));cursor: pointer;@include opacity(0);@include prefixer(transition,all .3s ease-in,$prefixes);}
    .i-imgzoom{@include inline-block;position: absolute;top:50%;left:50%;margin-top: -24px;margin-left: -24px;cursor: pointer;}
    &:hover{
      .layer{@include opacity(1);}
    }
  }
  .icon-txt-group{padding-top: 12px;
    .item{@include inline-block;margin: 0 26px;}
    i{@include inline-block;}
    p{font-size: 16px;color:#d69542;padding-top: 10px;
      span{display: block;}
    }
  }
}
.part1{
  .title-block-group{
    .title-block{
      p{font-size: 20px;}
    }
    .item-block{@include size(316px,277px);border:1px solid #fae9ca;margin: 0 20px;}
  }
  .main-block{padding-top: 26px;padding-bottom: 70px;}
}
.part2{padding-top: 30px;padding-bottom: 80px;
  .title-block-group{
    .item-block{@include size(366px,273px);margin: 0 7px;}
  }
  .main-block{padding-top: 33px;margin: 0 -7px;}
}
.part3{background: #fff;padding-top: 28px;padding-bottom: 88px;
  .title-block-group{
    .title-block{
      p{margin-top: 28px;}
    }
    .item-block{height:271px;margin: 14px 12px;
      &.item-block-two{}
    }
  }
  .main-block{padding-top: 17px;margin: 0 -16px;}
}

.swiper,.popLayer{
  .swiper-wrapper{/*width:650px;height:427px;*/margin: 0 auto;overflow: hidden;position: relative;
    ul{width:10000000%;height:100%;position: relative;
      & > li{height:100%;float:left;text-align: center;

      }
    }
  }

  /*Pagination*/
  .swiper-pagination {position: absolute;z-index: 10000;bottom:80px;left:0;right:0;text-align: center;
    span{background: #e1e1e1;@include size(10px,10px);margin: 0 6px;@include inline-block;vertical-align: middle;border-radius:5px;cursor: pointer;
      @include prefixer(transition,all .3s ease,$prefixes);
      &.active{background-color: #f15825;width:22px;}
    }
  }
  /*Arrows*/
  [class*="swiper-button-"]{cursor: pointer;position: absolute;top:50%;margin-top: -24px;
    &.disabled{@include opacity(.5);cursor: default;
      i{@include prefixer(animation, none, $prefixes);}
    }
  }
}
.swiper{
  [class*="swiper-button-"]{margin-left: -30px;margin-right: -30px;}
  .swiper-button-next{right:0;}
  .swiper-button-prev{left:0;}
}

.popLayer{position:fixed;left:0;top:0;width:100%;height:100%;@include rgba-background((#000,.2));z-index:9999;
  i{@include inline-block;}
  .popcon{@include size(1135px,715px);@include rgba-background((#fff,.05));margin: 0 auto;position: relative;*top:80px;
    @include prefixer(animation, fadeInUp .3s ease-in, $prefixes);
      .i-poplayer-close{cursor: pointer;position: absolute;right:20px;top:20px;@include prefixer(transition,all .3s ease,$prefixes);
        &:hover{@include prefixer(transform,rotate(180deg),$prefixes);}
      }
  }
  .pop-title{font-size: 40px;text-align: center;line-height: 156px;}
  .swiper-wrapper{width:650px;height:427px;}
  /*Arrows*/
  [class*="swiper-button-"]{margin-top: -43px;left:50%;}
  .swiper-button-next{margin-left:375px;
    i{@include prefixer(animation, fadeInRight 1.5s infinite linear, $prefixes);}
  }
  .swiper-button-prev{margin-left: -410px;
    i{@include prefixer(animation, fadeInLeft 1.5s infinite linear, $prefixes);}
  }
  &.eventSeminar{
    .swiper-wrapper{width: 640px;
      li{width: 640px;
        img{width: 640px;}
      }
    }
  }
}


@media(max-width:1160px){
  .part1{
    .title-block-group{
      .item-block{@include size(238px,208px);}
    }
  }
  .part2{
    .title-block-group{
      .item-block{@include size(284px,211px);}
    }
  }
  .popLayer{
    .popcon{width:908px;}
  }
}
@media(max-width: 1023px) {
  .banner-company-qualification{height:3rem;background-size: auto 3rem;
    & + .part1{margin-top: -.35rem;}
  }
  .box-shadow{border-radius: .04rem;box-shadow: 0 0 .14rem rgba(0, 0, 0, .1);}
  .title-block-group{
    &.box-shadow{width:6.9rem;}
    .title-block{font-size: .4rem;padding-top: .4rem;padding-bottom: .2rem;
      p{font-size: .2rem;margin-top: .16rem;
        span{display: inline;}
      }
    }
    .item-block{
      img{max-height: 100%;}
    }
    .icon-txt-group{padding-top: 12px;
      .item{margin: 0 .1rem;}
      p{font-size: .2rem;padding-top: 10px;
      }
    }
  }
  .part1{
    .title-block-group{
      .title-block{
        p{font-size: .2rem;}
      }
      .item-block{@include size(1.86rem,1.63rem);margin: 0 .06rem;}
      .main-block{padding-top: .26rem;padding-bottom: .7rem;}
    }
  }
  .part2{padding-top: .3rem;padding-bottom: .8rem;
    .title-block-group{
      .item-block{@include size(2.14rem,1.59rem);margin: 0 .04rem;}
    }
    .main-block{padding-top: .3rem;margin: 0;}
  }
  .part3{padding-top: .28rem;padding-bottom: .88rem;
    .title-block-group{
      .title-block{
        p{margin-top: .28rem;}
      }
      .item-block{height:2rem;margin: .1rem .08rem;
      }
    }
    .main-block{padding-top: .17rem;margin: 0;}
  }

  .swiper,.popLayer{
    /*Pagination*/
    .swiper-pagination {bottom:.5rem;
      span{@include size(.1rem,.1rem);margin: 0 .06rem;border-radius:.05rem;
        &.active{width:.22rem;}
      }
    }
    /*Arrows*/
    [class*="swiper-button-"]{margin-top: -.24rem;}
  }
  .swiper{
    [class*="swiper-button-"]{margin-left: 0;margin-right:0;}
  }

  .popLayer{
    .popcon{@include size(6.9rem,6rem);
      .i-poplayer-close{right:.2rem;top:.2rem;}
    }
    .pop-title{font-size: .4rem;line-height: 1.56rem;}
    .swiper-wrapper{width:5.2rem;height:3.47rem;
    }
    /*Pagination*/
    .swiper-pagination {bottom:.5rem;
      span{@include size(.1rem,.1rem);margin: 0 .06rem;border-radius:.05rem;
        &.active{width:.22rem;}
      }
    }
    /*Arrows*/
    [class*="swiper-button-"]{margin-top: -.43rem;
    }
    .swiper-button-next{margin-left:2.85rem;
    }
    .swiper-button-prev{margin-left: -3.2rem;
    }
    &.eventSeminar{
      .swiper-wrapper{width: 5.2rem;
        li{width: 5.2rem;
          img{width: 5.2rem;}
        }
      }
    }

  }
}

@include generateAnimation(fadeInRight,("webkit","moz","ms","o")){
  0% {#{prefixerAttr(transform, $current-prefix)}: translateX(10%);}
  50% {#{prefixerAttr(transform, $current-prefix)}: translateX(-10%);}
  100% {#{prefixerAttr(transform, $current-prefix)}: translateX(10%);}
}
@include generateAnimation(fadeInLeft,("webkit","moz","ms","o")){
  0% {#{prefixerAttr(transform, $current-prefix)}: translateX(-10%);}
  50% {#{prefixerAttr(transform, $current-prefix)}: translateX(10%);}
  100% {#{prefixerAttr(transform, $current-prefix)}: translateX(-10%);}
}
@include generateAnimation(fadeInUp,("webkit","moz","ms","o")){
  0% {opacity: 0;#{prefixerAttr(transform, $current-prefix)}: translate3d(0, 10%, 0);}
  100% {opacity: 1;#{prefixerAttr(transform, $current-prefix)}: none;}
}

/*ContactUs-----------------------------------------------------------*/
.contact-part1{ width: 100%; background: url("../images/account-bg.jpg") no-repeat center; background-size: 100% 100%;  padding: 50px 0; color: #666 }
.contact-part1 .section_title{ margin-bottom: 30px;}
.contact-part1 p{ color: #053451; display: block;margin-bottom: 30px;}
.contact-part1 p a{ color: #faa21b; }
.contact-part1 p a:hover{  color: #333 }
.contact-table{color: #053451; }
.contact-table  td{ padding: 10px 0 }


/* privacy */
.privacy-bg{ background: url(../images/account-bg.jpg) center 0 repeat-y; padding: 40px 0;color: #023353; }
.f-article-show .section_title { clear: both; padding-bottom: 30px; font-size: 40px; color: #053451; font-weight: normal; font-weight: 200; }
.f-article-show p { padding-bottom: 20px; text-align: justify; clear: both; }


/* product */
.pdt-part1{ background-color: #f7f7f7; padding: 40px 0; }
.pdt-part1 .f-article-show .section_title { font-weight: 400; font-size: 35px; padding-bottom: 0; }
.m-pdt-box{ font-size: 0; text-align: center; white-space: nowrap; padding-top: 40px; }
.m-pdt-box .pdt-box{ display: inline-block; *display: inline; *zoom: 1; vertical-align: top; box-sizing: border-box; width: 31%; margin-left: 3.5%; font-size: 14px; color: #666; white-space: normal; text-align: left; }
.m-pdt-box .pdt-box:first-child{ margin-left: 0; }
.m-pdt-box .pdt-box{
  strong,h2{ padding-right: 25px;  padding-left: 20px; background-color: #f7f7f7; display: inline-block; *display: inline; *zoom: 1; top: -23px; line-height: 40px; position: relative; font-size: 30px; color: #333;  }
}
.m-pdt-box .pdt-box .box-content{ padding: 0 20px;border:6px solid #cacaca;  min-height: 200px }
.m-pdt-box .pdt-box p{ padding-bottom: 20px; ; margin-top: -20px; }
.m-pdt-box .btn-more,.m-pdt2-box .btn-more{ /*text-align: right; */padding-top: 6px; }
.m-pdt-box .btn-more a,.m-pdt2-box .btn-more a{color:#FAA21B; cursor:pointer;}
.pdt-part2{ padding: 40px 0; }
.m-pdt2-box{ }
.pdt2-box{ float: left; width: 31%; margin-left: 3.5%; }
.m-pdt2-box .pdt2-box:first-child{ margin-left: 0; }
.m-pdt2-box .pdt2-box{
  h2,h3{ font-size: 18px; margin-bottom: 20px;  }
}
.m-pdt2-box .pdt2-box p{ margin-bottom: 20px;  }
.pdt-inside-topbanner{ background: #5881ad; padding: .8rem 0 .3rem; color: #fff; text-align: center; }
.pdt-inside-topbanner h1{font: inherit; font-size: .46rem; line-height: .50rem; padding-bottom: .30rem;  }
.pdt-inside-topbanner p{font-size:.22rem; margin-bottom: .2rem;}
.grey-action-box{ width: 100%; height:54px;  background-color: #D9D9D9; padding: 8px 0; margin-top: 50px;}
.grey-action-button{ height: 54px; width: 500px; margin-left: 30px}
.grey-action-button a{ width: 264px; height: 54px; display: inline-block; *display:inline;*zoom:1; vertical-align: top; background: url("../images/btn_button_open_live_account.png") no-repeat}
.grey-action-button .btn-open-acc{ background-position: 0 0}
.grey-action-button .btn-open-acc:hover{ background-position: 0 -52px}
.grey-action-button .btn-demo-acc{ background-position: 0 -125px; width: 200px}
.grey-action-button .btn-demo-acc:hover{background-position: 0 -178px}

.pdt-inside-menu ul > li{display:block; list-style:none;}
.pdt-inside-menu ul > li:not(:last-child){border-bottom:1px solid #929497;}
.pdt-inside-menu ul > li > a { display: block; padding: .3rem; color: #162E55; background-color: #fff; font-size: .34rem; text-decoration: none; background-position: right center; background-repeat: no-repeat; background-image: url(/public/images/mobile-menu-arrow-right-blue.png);  -webkit-background-size: .22rem auto; background-size: .22rem auto;}
.inside-menu ul > li > a.open { background-image: url(/public/images/mobile-menu-arrow-down-blue.png); }
.product-bg{ background: #f7f7f7; padding: 50px 0; }
.products-menu{float:left; width:380px;}
.products-menu .header{background-color:#5881ad; padding-bottom:12px;}
.products-menu .header h2{padding:10px 18px; font-size:30px; font-weight:bold; color:#fff;}
.products-menu .switch a{display:block; width:100%; box-sizing: border-box; padding:12px 18px; background:#fff url(../images/left-menu-arrow.png) right center no-repeat; font-size:16px; color:#124177; text-transform:uppercase;}

.products-menu ul.switch-menu{display:none; padding:0; margin:0; border-top:2px solid #5881ad;}
.products-menu ul.switch-menu > li{display:block; list-style:none;}
.products-menu ul.switch-menu > li a{display:block; width:100%;  box-sizing: border-box; padding:12px 18px 12px 40px; background:#fff url(../images/left-menu-item-title.png) 18px 12px no-repeat; font-size:16px; color:#124177; text-transform:uppercase; transition:0s;}
.products-menu ul.switch-menu > li a:hover{background-color:#e6edf2; background-position:18px -88px;}

.products-menu ul.sidemenu{padding:0; margin:0;}
.products-menu ul.sidemenu > li{display:block; list-style:none; border-bottom:1px solid #636f7b;}
.products-menu ul.sidemenu > li a { display: block; padding: 22px 18px; background-color: #fff; color: #666; font-size: 14px; -o-transition: .2s; -ms-transition: .2s; -moz-transition: .2s; -webkit-transition: .2s; transition: .2s; }
.products-menu ul.sidemenu > li a:hover, .products-menu ul.sidemenu > li.current a{background-color:#e6edf2;}
.products-menu ul.sidemenu .item-title{min-height:15px; margin-bottom:10px; color:#124177; font-size:16px; text-transform:uppercase; background:url(../images/left-menu-item-title.png) 0 0 no-repeat; padding-left:22px;}
.products-menu ul.sidemenu > li a:hover .item-title,
.products-menu ul.sidemenu > li.current a .item-title{background-position:0 -100px;}

.products-maincontent{margin-left:415px; overflow:auto;}
.products-maincontent .headline{color:#333;}
.products-maincontent .headline h1{ font: inherit; font-size:35px; margin-bottom:12px;}
.products-maincontent .headline p{font-size:14px; padding-bottom: 20px;}

.buttonbox-grey {background-color:#d9d9d9; padding: 20px 0; margin-top: 40px;}
.buttonbox-grey a{ display: block; height: 54px; width: 281px; margin: 0 auto; }
.buttonbox-grey .btn-open-acc-lg{ background-image: url(../images/btn-open-acc-lg.png); background-position: center 0; margin-bottom: 10px; }
.buttonbox-grey .btn-open-acc-lg:hover{ background-position: center bottom; }
.buttonbox-grey .btn-demo-acc-lg{ background-image: url(../images/btn-demo-acc-lg.png); background-position: center 0;}
.buttonbox-grey .btn-demo-acc-lg:hover{ background-position: center bottom; }

#forex-cps .table-forex-cps{width:720px;}
#forex-cps .categories{background-color:#f7f7f7;}
#forex-cps .categories:after{display:block; content:''; clear:both;}
#forex-cps .category{float:right; background-color:#5881ad; font-size:18px; font-weight:bold; color:#fff; padding:20px 0; padding-left:35px; box-sizing: border-box;}
#forex-cps .category.standard{width:240px;}
#forex-cps .category.vip{width:215px;}
#forex-cps th.num{width:100px;}
#forex-cps th.pair{width:157px;}
#forex-cps th.minimum-std{width:127px; padding-left:35px;}
#forex-cps th.typical-std{width:110px;}
#forex-cps th.minimum-vip{width:125px; padding-left:35px;}
#forex-cps th.typical-vip{width:79px;}
#forex-cps table.table_info tbody tr td:nth-child(1){border-right:0;}
#forex-cps table.table_info tbody tr td:nth-child(3){border-right:0; padding-left:35px;}
#forex-cps table.table_info tbody tr td:nth-child(5){border-right:0; padding-left:35px;}

.formula{background-color:#5881ad; padding:20px 15px; font-size:18px; color:#fff; font-weight:bold;}
.formula p:last-child{padding-bottom:0;}
.scenarios{margin-top:20px;}
.scenario-remark{color:#666; font-weight:300; font-size:13px; padding-bottom:20px;}
.scenario{float:left; width:48%; box-sizing: border-box; min-height:260px; padding:10px; margin-bottom:20px; border-right:5px solid #a4b9cc; border-bottom:5px solid #a4b9cc; background-color:#fff;}
.scenario:nth-child(odd){margin-right:4%; clear:both;}
.scenario-title{font-weight:300; color:#124177; padding-bottom:6px; margin-bottom:6px; border-bottom:3px solid #124177; font-size:16px;}
.scenario-content{font-size:14px; font-weight:300; color:#666;}

#pm-cd{}
#pm-cd .table-pm-cd{width:720px;}
#pm-cd th.acc-type{width:170px; font-size:14px;}
#pm-cd th.gold-std{width:155px; font-size:14px;}
#pm-cd th.gold-vip{width:110px; font-size:14px;}
#pm-cd th.silver-std{width:155px; font-size:14px;}
#pm-cd th.silver-vip{width:110px; font-size:14px;}

.cnh-benefit{margin-bottom:10px;}
.cnh-benefit:after{display:block; content:''; clear:both;}
.cnh-benefit .benefit{float:left; width:230px; height:220px; padding:10px; margin-bottom:20px; margin-left:15px; border-right:5px solid #a4b9cc; border-bottom:5px solid #a4b9cc; font-weight:300; color:#333; background-color:#fff; background-position:right bottom; background-repeat:no-repeat;}
.cnh-benefit .benefit:nth-child(3n+1){margin-left:0; clear:both;}
.cnh-benefit .benefit h2{font-size:16px; font-weight:bold; color:#124177;}
.cnh-benefit .benefit.low-transaction-cost{background-image:url(../images/products/icon-low-transaction-cost.png);}
.cnh-benefit .benefit.low-entrance-requirement{background-image:url(../images/products/icon-low-entrance-requirement.png);}
.cnh-benefit .benefit.two-way{background-image:url(../images/products/icon-2way-trading.png);}
.cnh-benefit .benefit.fair-transparent{background-image:url(../images/products/icon-fair-transparent.png);}
.cnh-benefit .benefit.trade-anywhere{background-image:url(../images/products/icon-trade-anywhere.png);}
.cnh-benefit .benefit.all-in-one{background-image:url(../images/products/icon-all-in-one.png);}
.cnh-action-box .floatleft{width:333px; font-size:16px; padding-top:0;}
.cnh-action-box .floatright{width:331px;}

#cnh-cd .categories{background-color:#f7f7f7;}
#cnh-cd .categories:after{display:block; content:''; clear:both;}
#cnh-cd .category{float:right; background-color:#5881ad; font-size:18px; font-weight:bold; color:#fff; padding:20px 10px;}
#cnh-cd .category.hkd-cnh{width:259px;}
#cnh-cd .category.usd-cnh{width:267px;}
#cnh-cd th.trading-code{width:188px;}
#cnh-cd th.usd-cnh{width:261px;}
#cnh-cd th.hkd-cnh{width:261px;}

#what-is-cnh{}
#what-is-cnh .para{color:#333; margin-bottom:40px;}
#what-is-cnh .para .title{font-size:35px; margin-bottom:12px;}
#what-is-cnh .para p{font-size:14px;}

.txt-msg {padding: 10px 0;color: #bbb;}
/*QA*/
$qaColor:#f05825;
.qa-content{font-family: Arial;}
.sidebar{float: left;
  & + .menu-content{margin-left:33.5%;padding-left: 2%;}
}
.menu-list{background: #fff;
  &.sidebar{width:33.5%;}
  .css-tri3{/*@include inline-block;*/@include triangle(right,6px,8px,$qaColor);@include opacity(.5);
    @include prefixer(transition,all .3s linear,$prefixes);}
  .active{/*background: #f6e7e2;*/
    a{
      &:before{width:100%;}
    }
    .css-tri3{@include opacity(1);}
  }
  .menu-current{display: none;cursor: pointer;}
  dl{
    dt{font-size: 30px;font-weight: bold;color:#fff;background: $qaColor;padding: 0 20px;line-height: 60px;
      & + dd{border-top:0;}
      h1{font-weight: normal;font-size: 100%;}
    }
    dd{font-size: 16px;color:#323232;border-top:1px solid #fcded3;
      a{color:#323232;display: block;line-height: 28px;padding: 15px 20px;position: relative;z-index: 1;
        &:before{content: '';@include inline-block;position: absolute;z-index: -1;left:0;top:0;bottom:0;width:0;background: #f6e7e2;
          @include prefixer(transition,all .1s linear,$prefixes);
        }
        .css-tri3{margin-right: 10px;float: right;margin-top: 11px;}
        &:hover{
          &:before{width:100%;}
          .css-tri3{@include opacity(1);}
        }
        h2{font-weight: normal;font-size: 100%;}
      }
    }
  }
}
.menu-content{
  .menu-title{font-size: 40px;color:#323232;line-height: 60px;/*white-space: nowrap;*/
    h2{@include inline-block;font-weight: normal;font-size: 100%;}
  }
  .txt-Q{@include inline-block;@include size(40px,40px);border-radius: 50%;background: $qaColor;color:#fff;text-align: center;line-height: 40px;font-size: 18px;}
  .txt-img{
    &.qa-swap{display:block;margin-left: -26px;}
  }
  .qa-txtcon{padding: 25px 35px 10px 40px;background: #fff;margin-top: 15px;
    & + .menu-title{margin-top: 20px;}
  }
  .c-yellow{color:$qaColor;}
  .decimal{
    li{/*@include style-bullet(decimal,none);*/margin-left: 52px;position: relative;font-size: 14px;padding-top: 15px;padding-bottom: 25px;border-top:1px solid #eef2f7;
      &:first-child{border-top:0;}
      .txt-Q{position: absolute;left:-52px;top:15px;}
      .txt-head{font-size: 16px;font-weight: bold;line-height: 40px;}
    }
  }
  & > ul > li{display: none;
    &:first-child{display: block;}
  }
}
/*Forex Academy*/
.forex-academy-content{
  &.forex-aAcademy{font-family: 'PingFang SC';padding-top: 80px;}
  .menu-content{
    .qa-txtcon{padding: 0;margin-top: 0;background: none;font-family: 'Open Sans', sans-serif;
      .m-chartstudy{padding: 35px;background: #fff;}
      .f-bgfff{background: #fff;}
      .pdc{padding: 35px;
        &.container-p3{}
      }
    }
    .menu-title{font-size: 35px;line-height: 50px;margin-bottom: 10px;}
  }
}
.forex-aAcademy{background: url(/images/edukasi/forex-aAcademy.jpg) no-repeat center top;background-size: 100% 100%;}
.gw-h2{font-size: 52px;font-weight: normal;}
.edukasi-list{padding: 80px 40px;
  ul{@include clearfix;}
  li{float: left;width:50%;
    .edukasi-list-item{margin: 0 30px;}
  }
  .edukasi-list-item{background: #fff;padding: 54px 0;text-align: center;position: relative;
    .b2{font-size: 35px;display: block;font-weight: normal;padding-top: 20px;}
    .s1{font-size: 14px;line-height: 1.4;display:block;padding-bottom: 20px;
      span{display: block;}
    }
  }
  .alink-icon{display: block;margin: 0 auto;}
  .alink-btn{display: block;margin:0 auto;height: 40px;line-height: 40px;width:150px;text-align: center;color:#fff;background: $qaColor;border-radius: 4px;font-size: 20px;
    i{@include inline-block;margin-top: 14px;margin-left: 15px;}
    .i-arrow-linkrm{display: none;}
  }
}
.m-chartstudy{text-align:center;margin-bottom: 30px;font-size:20px;
  .ex-p{ line-height:1.2;margin-bottom:35px; }
  .chart-text{ background:#f0faf6;padding: 20px 0;
    p{ font-size:14px;padding-top:6px;}
  }
  .chartstudy-pic{
    & + .chart-text{ background:#fef9f9;margin-top: 30px;}
    img{ display:block;width:100%;}
  }
}
.profit-table{font-size:20px;
  th{ line-height:50px;color:$qaColor;font-weight:normal;background:#fff3ef;border-top:1px solid #fcded3;white-space:nowrap; }
  .event-tag{color:$qaColor;font-size:20px;@include inline-block;vertical-align:middle;width:54px;line-height:30px;border:1px solid #fcded3;border-radius:4px;margin-left:18px;text-align:center;
    &.long{ font-size:18px;line-height:1;width:97px;text-align:left;padding:6px 0 6px 10px;}
  }
  td{ border-top:1px solid #fcded3;text-align:left;font-size:14px;background:#fff;height:80px;
    strong{ font-size:20px;display:block;font-weight: normal;}
    b{ font-size:20px;color:$qaColor;@include inline-block;padding-right:20px;font-weight:bold;float: right; }
  }
  tr{
    th:first-child{ width:148px;text-align:left;text-indent:18px; }
  }
  th{
    .pr{ text-align:right;padding-right:22px;display:block; }
  }
}
.m-index-nav{font-size:20px;
  li{text-align:left;
    a{ display:block;padding:22px 8px 22px 70px;position:relative;color:#323232; }
    span{}
    p{ font-size:14px;padding-top:.1rem; }
    .ico{ display:block;position:absolute;left:0;top:26px; }
  }
}

/*forex*/
.qa-txtcon{
  .school-breadcrumbs{display: none;}
}
.blackboard-bg{position: relative;
  i{@include inline-block;position: absolute;bottom:0;}
  .nonfarm_payroll{bottom: 18px;left:100px;}
  .nonfarm_arrow{left:52px;bottom: 30px;}
  .nonfarm_bang{left:52px;bottom: 30px;}
  .nonfarm_pyramid{left:52px;bottom: 36px;}
  .forex-teacher1{right:63px;}
  .blackboard-tit{color:$qaColor;font-size: 56px;line-height: 1.15;padding: 40px;
    &.blackboard-tit-s{font-size: 47px;white-space: nowrap;}
    span{display: block;font-size: 30px;}
  }
}
.forex-container{
  &.container-p1{padding: 32px 0 6px;}
  &.container-p2{padding:52px 0 0;}
  &.container-p3{padding:52px 0 6px;}
  .p-txt1{font-size: 14px;line-height: 24px;
    & + .p-txt1{margin-top: 30px;}
    &.c-brown{color:#a6734a;margin-top: 0;}
  }
  .p-txt2{font-size: 20px;color:#333;}
  .txt-border1{border:1px dashed #f7cebf;border-radius: 10px;margin: 30px 0;padding:12px 36px;
    &.txt-border-bg{background: #f7ebd1;padding: 12px 50px;
      .p-txt1{color:$qaColor;}
    }
    .p-txt1{font-size: 20px;color:#555;}
    &.border-circel{border-radius: 50%;}
  }
  //.forex-title{font-size:34px;color:#a97951;text-align: center;
  //  i{@include inline-block;font-style: normal;font-weight: 700;}
  //  .title-bg{line-height: 56px;}
  //}
  .txt-badge{@include inline-block;border-radius: 4px;font-size: 24px;color:$qaColor;border:1px solid #f7cebf;width: 92px;height: 65px;line-height: 65px;text-align: center;margin-bottom:40px;background: #fff3ef;margin-right: 10px;margin-top: 40px;
    & + .p-txt1{color:#333;@include inline-block;padding-top: 40px;
      span{display: block;}
    }
  }
  .txt-tb{width: 100%;border-collapse: collapse;border-spacing: 0;font-size: 16px;color:#555;margin-top: 15px;margin-bottom: 20px;
    th{background: #f3f3f3;font-weight:normal;font-size: 20px;}
    th,td{border-top:1px solid #d2d2d2;border-bottom: 1px solid #d2d2d2;line-height: 47px;padding: 0 20px;}
  }
  .txt-icon-group{
    .txt-tb{font-size: 14px;}
  }
  .battle-tb{padding-bottom: 42px;text-align: center;
    tr{
      &:nth-child(odd){
        td{background: #f5f5f5;}
      }
    }
    td{border:0;line-height:24px;height: 62px;color:#555;
      &:nth-child(odd){color:#333;font-weight: bold;}
    }
  }
  .p-tit1{font-size: 34px;/*color:#333;*/text-align: center;line-height: 1;padding: 45px 0 40px;
    i{@include inline-block;}
    span{padding: 0 24px;position: relative;@include inline-block;
      .tit-dot-red{position: absolute;top:50%;margin-top: -6px;right:0;
        &:first-child{left:0;right:auto;}
      }
    }
  }
  .img-block{display: block;width:100%;margin-bottom: 30px;}
}
.txt-badge-group{
  .p-txt1{color:#a97951;}
  i{@include inline-block;}
  & + .img-block{margin-top: 30px;}
}
.forex-chart-block{
  i{@include inline-block;}
  &.chart-block1{position: relative;text-align: center;padding: 36px 0;
    i{position: absolute;left: 50%;}
    .hand-jual{top:21px;margin-left: -91px;}
    .hand-beli{bottom:18px;margin-left: 42px;}
    .line-chart1{@include inline-block;}
  }
}
.txt-icon-group{padding-top: 16px;position: relative;
  i{@include inline-block;}
  .p-txt1{padding-right: 24%;}
  [class*="-close-order"]{margin-left: 2px;margin-right: 33px;margin-top: 25px;
    &.jual-close-order{margin-top: 50px;}
  }
}
.txt-chart-desc{color:$qaColor;
  .chart-desc-title{font-size: 20px;text-align: center;
    .border-circel{@include size(123px,123px);padding: 0;display: table-cell;vertical-align: middle;border-color: #f7cebf;background: #fff3ef;
      p{
        span{display: block;}
      }
    }
  }
  .txt-border-group{
    .txt-border1{width:200px;text-align: left;margin: 20px 0 0;border-color: #f7cebf;background: #fff3ef;padding: 10px 20px;
      &:first-child{margin-top: 0;}
      .p-txt1{font-size: 14px;line-height: 24px;}
    }
  }
  .chart-line{border:1px solid #f7cebf;border-radius: 10px;border-right: 0;position: relative;text-align: right;margin: 100px 0 100px 64px;
    .chart-line-txt{display: block;font-size: 14px;line-height:1.4;text-align: center;position: absolute;left:0;right:28%;
      &.line-txt-top{top:-20px;}
      &.line-txt-middle{top:50%;margin-top: -20px;}
      &.line-txt-bottom{bottom:0;}
    }
    .chart-line-h{border-bottom:1px solid #f7cebf;}
    .chart-desc-title{position: absolute;left:-64px;top:50%;margin-top: -62px;}
    .txt-border-group{@include inline-block;margin-top: -46px;margin-bottom: -46px;position: relative;}
  }
}
.forex-txt-list{
  li{padding-top: 30px;
    img{margin: 30px 0 10px;}
    .picture-block{
      img{margin: 5px 0;}
    }
  }
  .list-number{@include inline-block;border-radius: 4px;background: $qaColor;font-size: 24px;color:#fff;@include size(26px,38px);line-height: 38px;text-align: center;}
  .dot-number{border-radius: 50%;background: #fdcd4e;@include size(24px,24px);line-height: 24px;font-size: 20px;position: absolute;left:0;top:0;}
  .txt-icon-group{
    .count-panel,.chart-dollar{margin-top: 20px;}
    .percent-20,.count-panel,.chart-dollar{margin-bottom: 20px;}
  }
  &.list-decimal{
    li{
      &:first-child{
        .txt-icon-group{
          &.c-mt3{margin-top: -30px;}
        }
      }
    }
    .txt-icon-group{position: relative;padding-left: 40px;padding-top: 0;margin: 30px 0 0;
      &.c-mt1{margin-top: 25px;}
      &.c-mt3{margin-right: 10px;margin-top: 0;}
      .pic-ml1{margin:0 45px 0 0;}
      .list-number{position: absolute;left:0;top:3px;
        &.dot-number{top:1px;}
      }
      .forex-people1{margin-left: 90px;position: relative;margin-top: -18px;margin-right: 8px;
        i{position: absolute;top:-55px;}
        .profit_hingga{left:-82px;}
        .berlipat_ganda_va{left:-118px;top:-28px;}
      }
      .p-txt2{font-weight: bold;
        & + .p-txt1{margin-top: 15px;}
      }
      .p-txt1,.p-txt2{padding-right: 0;}
      .txt-border1{margin:25px 45px 0 0;}
    }
  }
  &.list-dot{
    .txt-icon-group{position: relative;padding-left: 25px;padding-top: 0;@include clearfix;margin-right: -20px;
      .tit-dot-brown{position: absolute;left:0;top:9.5px;}
      .fr{text-align: center;width:25%;
        .p-txt1{padding: 0;
          span{display: block;}
        }
      }
    }
    .p-txt2{font-weight: bold;}
  }
}
.battle-block{font-size: 30px;color:#a97951;text-align: center;padding: 22px 0 0;position: relative;margin-bottom: 72px;
  & + .txt-tb{margin-top: 0;}
  span,i{@include inline-block;}
  .i-battle-vs{position: relative;top:-33px;}
  .battle-bar{border-radius: 100px;background: #f7ebd1;height:63px;line-height: 63px;position: relative;z-index: 1;@include clearfix;
    [class*="i-battle0"]{margin: 8px;position: absolute;top:0;
      &.i-battle01{left:0;}
      &.i-battle02{right:0;}
    }
  }
  .battle-item{position: relative;padding: 0 60px;
    b{font-weight: normal;}
  }
  .battle-status{position: absolute;bottom:-37px;color: #fff;text-transform: uppercase;font-size: 20px;left:0;right:0;
    i{@include size(120px,60px);border-radius: 0 0 120px 120px;font-style: normal;
      span{position: relative;top:45%;}
    }
    .battle-win{margin-right: 220px;}
  }
  .battle-win{background: #ff8667;}
  .battle-lose{background: #ccc;}
}
.bg-f1f6fa{
  .battle-block{padding-top: 85px;}
}
.battle-desc{padding: 10px 0 30px;
  ul{text-align: center;@include clearfix;
    li{@include inline-block;width:40%;text-align: left;line-height: 1.25;float: right;
      &:first-child{float: left;}
    }
  }
}


/*ICDX*/
.ICDX-banner{background: url(../images/ICDX-banner.jpg) no-repeat center center;height:364px;line-height: 364px;
  p,h1{@include inline-block;vertical-align: middle;font-size: 60px;color:#fff;line-height:1.4;font-weight: normal;}
  span{display: block;}
}
.ICDX-part1{padding-bottom: 50px;
  .txt-title-m{padding:60px 0 50px;}
  p{font-size: 18px;color: #919191;margin-bottom: 20px;text-align: justify;}
  ul{@include clearfix;padding-top: 30px;
    li{float: left;width: 50%;text-align: left;*width:49.8%;
      & + li{text-align: right;}
      img{max-width: 98%;}
    }
  }
}
.ICDX-part2{background: #f7f7f7;
  p{
    span{display: block;}
  }
  .txt-title-m{padding:35px 0 20px;}
  .p1{font-size: 22px;color:#000;padding: 20px 0;}
  .p2{font-size: 18px;color:#919191;}
  .p-cs{font-size: 24px;color:#000;padding-top: 40px;
    .btn-gw-c{margin-top: 30px;background: #ff8259;}
  }
  .btn-gw-c{border-radius: 4px;}
  .list-item{@include inline-block;background: #fff;height:472px;max-width: 356px;*width:356px;border:1px solid #e1e1e1;
    em{font-style: normal;font-weight: normal;}
    i{font-style:normal;}
  }
  ul{@include clearfix;padding-top: 30px;
    li{@include inline-block;
      &:first-child{
        & + li{margin-left: 2%;margin-right: 2%;
          & + li{
          }
        }
      }
    }
  }
}

/* ============ Responsive ============ */
@media(max-width:1160px){
  .blackboard-bg{width:100%;
    .blackboard-tit{font-size: 40px;
      span{font-size: 20px;}
      &.blackboard-tit-s{font-size: 30px;}
    }
  }
  .forex-chart-block{
    &.chart-block1{
      .hand-jual{margin-left: -75px;}
      .hand-beli{margin-left: 58px;}
    }
  }
  .txt-chart-desc{
    .chart-line{
      .chart-line-txt{font-size: 12px;right:40%;}
    }
  }
  .battle-block{
    .battle-item{padding: 0 22px;}
    .battle-status{
      .battle-win{margin-right: 138px;}
    }
  }

  /*ICDX*/
  .ICDX-banner{
    p{font-size: 42px;}
  }
  .ICDX-part1{
    .txt-title-m{
      span{display: block;}
    }
  }
  .ICDX-part2{
    .p1{font-size: 18px;}
    .p2{font-size: 14px;}
    .list-item{height:380px;max-width:278px;

    }
  }
}
@media(max-width:1023px) {
  /*BukaAkun-----------------------------------------------------------*/
  .trading-banner span{ font-size: 0.42rem;  padding-top: 1.1rem}
  .trading-banner{ height: 4.51rem}
  .trading-banner p{ font-size: 0.2rem}
  .trading-part1{ padding: 0.8rem 0}
  .headline h2{ font-size: 0.42rem; margin-bottom: 0.4rem}
  .trading-tab-content table tr td{ line-height: 0.38rem;}

  /*PlatformHansonTrader-----------------------------------------------------------*/
  .platforms-banner{  height: 4.9rem;}
  .platforms-banner span{ font-size: 0.5rem; padding-top: 0.8rem; margin-bottom: 0rem; line-height: 0.5rem}
  .platforms-banner p{ font-size: 0.3rem}
  .platforms-part1{ padding: 0.8rem 0}
  .headline-slash{height: 0.96rem;  padding: 0.17rem 0; background-size: 0.78rem auto}
  .headline-slash h2{ font-size: 0.45rem}
  .platforms-part1 p{ font-size: 0.18rem}
  .platforms-list{ margin-top: 0.5rem}
  .platforms-list li i{ width: 1rem; height: 1rem; background-size: 1rem auto}
  .platforms-list .figure-icon1 {  background-position: 0 -1.02rem;  }
  .platforms-list .current .figure-icon2 {  background-position: 0 -2.13rem;  }
  .platforms-list .figure-icon2 {  background-position: 0 -3.22rem;  }
  .platforms-list .current .figure-icon3 {  background-position: 0 -4.31rem;  }
  .platforms-list .figure-icon3 {  background-position: 0 -5.39rem;  }
  .platforms-list .current .figure-icon4 {  background-position: 0 -6.48rem;  }
  .platforms-list .figure-icon4 {  background-position: 0 -7.5rem;  }
  .platforms-list li strong{ margin-top: 0.28rem; font-size: 0.14rem}
  .platforms-item-del .hoverLayer{ width: 20.5%; padding: 2%; margin-top: 30px; font-size: 12px;}

  /*QuoteHarga-----------------------------------------------------------*/
  .price-part1{  padding: .8rem 0}
  .mi-table-holder .table_stock th{ font-size: 14px;}
  .country-icon{ height: 12px; width: 20px; vertical-align: middle}
  .mi-table-holder{ font-size: 12px;}
  .red-bg, .green-bg{ width: 62px; height: 19px;}
  /*CompanyProfile-----------------------------------------------------------*/
  .company-banner{ height: 4.9rem;  }
  .company-banner span { font-size: 31px;padding-top:1.1rem;}
  .hanson-part1 p{ width: 100%;}

  /* privacy */
  .f-article-show .section_title{ font-size: .4rem; padding-bottom: .3rem; }
  .f-article-show p { padding-bottom: .2rem;}
  .privacy-bg{ padding-top: .8rem; padding-bottom: .4rem; }


  /*produk*/
  .grey-action-box{ margin-top: 0.5rem; height:.54rem; padding: 0.08rem 0}
  .grey-action-button{ width: 4.6rem; height: .54rem; margin: 0 auto; float: none}
  .grey-action-button a{ width: 2.64rem; height: .54rem; background-size: 2.62rem auto}
  .grey-action-button .btn-open-acc:hover{ background-position: 0 0}
  .grey-action-button .btn-demo-acc{ width: 1.8rem;background-position: 0 -1.25rem;}
  .grey-action-button .btn-demo-acc:hover{background-position: 0 -1.25rem;}

  .products-menu{ float: none;width: auto; }
  .products-maincontent{ margin-left: 0; margin-top: .4rem; }
  .products-menu .header h2{padding:.10rem .18rem; font-size:.42rem}
  .products-menu .switch a{ padding:.12rem .18rem;font-size:.3rem; -webkit-background-size: .8rem auto; background-size: .8rem auto;}
  .products-menu ul.switch-menu > li a{ padding:.12rem .18rem .12rem .60rem; background-position:.18rem .10rem; -webkit-background-size: .24rem auto; background-size: .24rem auto; font-size:.24rem; }
  .products-menu ul.switch-menu > li a:hover{ background-position:.18rem -1.5rem;}
  .products-menu ul.sidemenu > li a { padding: .22rem .18rem; font-size: .24rem; }
  .products-menu ul.sidemenu .item-title{min-height:.15rem; margin-bottom:.10rem;font-size:.28rem; padding-left:.40rem; -webkit-background-size: .24rem auto; background-size: .24rem auto; }
  .products-menu ul.sidemenu > li a:hover .item-title,
  .products-menu ul.sidemenu > li.current a .item-title{background-position:0 -1.6rem;}
  .buttonbox-grey{background-color:transparent; padding:0; margin-top: .4rem;}
  .buttonbox-grey a{height: .84rem; width: 4.49rem; -webkit-background-size: 100% auto;    background-size: 100% auto; }
  .buttonbox-grey .btn-open-acc-lg{  margin-bottom: .2rem; }
  .products-maincontent .headline h1{ font-size: .42rem; }
  .products-maincontent .headline p{ font-size: .26rem; padding-bottom: .2rem; }

  #forex-cps .table-forex-cps{ width: auto; }
  #forex-cps .category.vip,#forex-cps .category.standard{ width: 28%; padding-left: 0; text-align: center; padding: .1rem 0; height: .6rem; font-size: .22rem; }
  #forex-cps .category.vip{ width:24%; }
  .formula{ font-size: .28rem; line-height: 1.6; }

  .scenario{float:none; width:100%; min-height:0;}
  .scenario:nth-child(odd){margin-right:0;}
  .cnh-benefit .benefit{float:left; width:295px; margin-left:20px;}
  .cnh-benefit .benefit:nth-child(3n+1){margin-left:20px; clear:none;}
  .cnh-benefit .benefit:nth-child(2n+1){margin-left:0; clear:both;}

  #cnh-cd .category.hkd-cnh{width:217px;}
  #cnh-cd .category.usd-cnh{width:220px;}

  .sidebar{float: none;
    & + .menu-content{margin-left:0;padding-left: 0;}
  }
  .menu-list{
    &.sidebar{width:100%;height:.98rem;overflow:hidden;position: fixed;top:.96rem;z-index: 9;left:0;
      @include prefixer(transition,all .3s ease,$prefixes);
      &.slideUp{height: 100vh;background: rgba(0,0,0,.4);
        .menu-current{height: 0;overflow: hidden;}
      }
    }
    .active{background: #f6e7e2;
      .css-tri3{display: block;}
    }
    .css-tri3{@include triangle(down,8px,8px,$qaColor);}
    .menu-current{display: block;font-size: .3rem;font-weight:bold;color:#323232;background: #f6e7e2;height:.98rem;@include display-flex;@include flex-direction(column-reverse);@include align-items(center);@include justify-content(center);
      .css-tri3{@include opacity(1);}
      h2{font-size: 100%;}
    }
    dl{
      dt{display: none;}
      dd{font-size: .3rem;border-color: #e9e9e9;background: #fff;
        a{line-height: inherit;height:.98rem;padding: 0;text-align: center;font-weight: 700;@include display-flex;@include flex-direction(column-reverse);@include align-items(center);
          @include justify-content(center);
          &:before{display: none;}
          .css-tri3{margin: 0;float: none;display: none;}
          h2{font-weight: 700;}
        }
      }
    }
  }
  .menu-content{
    .menu-title{display: none;}
    .txt-Q{@include size(.4rem,.4rem);line-height: .4rem;font-size: .26rem;}
    .txt-img{
      &.qa-swap{margin-left: -.26rem;}
    }
    .qa-txtcon{padding: .25rem .35rem .1rem .4rem;margin-top: 0;
      & + .menu-title{margin-top: 0;}
      & ~ .qa-txtcon{padding-top: 0;margin-top: -.1rem;
        .decimal{
          li{&:first-child{border-top:1px solid #eef2f7;}}
        }
      }
    }
    .decimal{
      li{margin-left: .52rem;font-size: .2rem;padding-top: .15rem;padding-bottom: .25rem;
        .txt-Q{left:-.52rem;top:.15rem;}
        .txt-head{font-size: .22rem;line-height: .4rem;}
      }
    }
  }
  .qa-content{padding: 0;margin-top: .98rem;
    .container{padding: 0;width: auto;}
  }

  @import "page-mw979";
}

@media(max-width:750px) {
  /*BukaAkun-----------------------------------------------------------*/
  .button-box{ margin-top: 0.2rem}
  .trading-part1{ background-size: 7.5rem auto}
  .button-box a{width: 2.64rem;  height: 0.53rem; background-size: 2.62rem auto}
  .button-box .btn-demo-acc {  background-position: 0 -1.25rem;  width: 2rem;  }
  .button-box .btn-open-acc:hover{ background-position: 0 0}
  .button-box .btn-demo-acc:hover{background-position: 0 -1.25rem}
  .trading-banner{ height: 4rem}

  /*PlatformHansonTrader-----------------------------------------------------------*/
  .platforms-banner{ background-size: 18.99rem auto}
  .pc{ display: none}
  .mo{ display: block}
  .platforms-list li{ width:44%;border: 1px solid #929497; padding: 2%;background: rgba(255,255,255,.1);  margin: 0 0 0.2rem 0 ;height: 4.2rem }
  .platforms-list li:nth-child(1),.platforms-list li:nth-child(3){ float: left;}
  .platforms-list li:nth-child(2),.platforms-list li:nth-child(4){ float: right;}
  .platforms-list li strong{ font-size: 0.24rem}
  .platforms-list .hoverLayer li{ width: 100%; border: none; background:none; text-align: left; padding: 0; list-style: disc; overflow: visible; margin: 0; height: auto ; font-size: 0.18rem;}
  .platforms-list .hoverLayer ul{ margin-top: 0.2rem; padding-left: 0.24rem;}
  .hoverLayer .box-content b{ font-weight: 500; font-size: 0.2rem;  line-height: 0.24rem; margin-bottom: 0; display: block}
  .platforms-list li strong{ padding-top: .28rem}
  .arrow-up{ display: none}

  /*QuoteHarga-----------------------------------------------------------*/
  .mi-table-holder .table_stock th{ font-size: 16px;}
  .country-icon{width: 32px;  height: 20px;}
  .mi-table-holder{ font-size: 14px;}

  /*CompanyProfile-----------------------------------------------------------*/
  .company-banner{ height: 3.5rem;  background-size:14rem auto; }
  .company-banner span { font-size: 0.22rem;padding-top:1rem;}
  .hanson-part1 p{ width: 100%;}
  .hanson-part1{ padding: 1rem 0}
  .hanson-part1 p{ margin-bottom: 0.2rem}
  .hanson-part2{ padding: 1rem 0}
}
@media(max-width:480px) {
  /*BukaAkun-----------------------------------------------------------*/
  .trading-part1{ padding: 0.5rem 0}
  .trading-tab-content table th{ font-size:12px; height: 40px; line-height: 40px;border-bottom: 2px solid #124177;}
  .trading-tab-content table tr td{ font-size: 10px; line-height: 0.28rem;  height: 35px}
  .trading-part1 p{ padding: 0.2rem 0; text-align: left; font-size: 12px;}
  .trading-button{ width: 2.23rem;  height: 0.52rem; background-size: 2.23rem auto; font-size: 0.2rem; line-height: 0.4rem;}
  .trading-button:hover{ background-position: 0 0; line-height: 0.4rem;}
  .platforms-list .hoverLayer li{ font-size: 0.18rem}

  /*QuoteHarga-----------------------------------------------------------*/
  .price-part1{
    h1{font-size: 24px;}
    .heading{ font-size:18px; height: 40px ; line-height: 40px; padding-left: 0.2rem;  }
  }
  .mi-table-holder{ font-size: 12px; padding: 0.3rem}
  .mi-table-holder .table_stock th{ height: 45px;  font-size: 14px;}
  .country-icon{ width: 21px; height: 14px;margin: 0 3px 0 0;}
  .mi-table-holder td{ height: 28px;}
  .red-bg, .green-bg{ width: 1rem;}

  /*CompanyProfile-----------------------------------------------------------*/
  .hanson-part1 p{ font-size: 12px;}
  /*ContactUs-----------------------------------------------------------*/
  .contact-part1 .section_title,.contact-part1 p{ margin-bottom: 0.3rem}


}

//******* sprites
//----------------------------
@import "sp-m-pageicons";