
/*  ============ Reset ============  */

/*  ============ Normalize ============  */
body{ font-size:100%;background:#fff;color:#000;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%; }
html,button,input,select,textarea{ font-family:PingFang SC, Arial, Helvetica, sans-serif; }
body{ margin:0;padding:0; }
a{ color:inherit;cursor:pointer;text-decoration:none;outline:none;background:transparent;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-focus:none;-moz-user-select:none; }
a:hover{ text-decoration:none; }
a:hover,a:active,a:focus{ outline:0; }
p,h1,h2,h3,h4,h5,h6{ margin:0;padding:0; }
b,strong{ font-weight:bold; }
small{ font-size:80%; }
ol,ul,li,dl,dt,dd{ margin:0;padding:0; }
ol,ul{ list-style:none; }
img{ margin:0;padding:0; }
img{ border:0;max-width:100%;-ms-interpolation-mode:bicubic; }
input,button,textarea{ margin:0;padding:0; }
button,input,select,textarea{ font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle; }
button,input{ line-height:normal; }
button,select{ text-transform:none; }
button,html input[type="button"],input[type="reset"],input[type="submit"]{ -webkit-appearance:button;cursor:pointer;*overflow:visible; }
input[type=text],input[type=password]{ -webkit-appearance:none;outline:none;-webkit-tap-highlight-color:transparent; }
input:-webkit-autofill{ background-color:transparent !important;-webkit-box-shadow:0 0 0 1000px white inset; }
button[disabled],input[disabled]{ cursor:default; }
button,input{ border:0; }
button::-moz-focus-inner,input::-moz-focus-inner{ border:0;padding:0; }
input[type="search"]{ -webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box; }
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{ -webkit-appearance:none; }
input[type="checkbox"],input[type="radio"]{ padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*height:13px;*width:13px; }
textarea{ overflow:auto;vertical-align:top; }
table,tr,td{ margin:0;padding:0; }
table{ border-collapse:collapse;border-spacing:0; }
body{ font-size:14px;color:#333;line-height:1.4; }
.al-c{ text-align:center; }
.al-r{ text-align:right; }
.fl{ float:left; }
.fr{ float:right; }
.btn-yellow-default{ border-color:#f15623;color:#f15623; }
.btn-yellow{ background:#f15623; }
.btn-yellow a{ color:#ffb39a; }
.btn-blue{ background:#0f3569; }
.btn-blue a{ color:#5f7fab; }
.trade-page{ *zoom:1;background:#e7e7e7 url(/images/trade/trade-page.jpg) repeat-y center top;padding-bottom:50px; }
.trade-page:before,.trade-page:after{ content:"";display:table; }
.trade-page:after{ clear:both; }
.trade-page .plrc{ padding-left:32px;padding-right:32px; }
.trade-page .side-main{ width:810px;float:left;background:#fff;padding-bottom:8px; }
.trade-page .side-right{ width:300px;float:right;background:#fff;padding-bottom:25px; }
.trade-page .side-right .form-box{ box-shadow:none;background:none;border-radius:0;width:auto;height:auto; }
.trade-page .side-right .account-form{ padding:0 20px; }
.trade-page .side-right .form-listbox{ margin-top:10px; }
.trade-page .side-right .form-listbox .input-label{ color:#555;text-transform:none;font-size:14px;margin-bottom:6px; }
.trade-page .side-right .form-listbox .input-txt{ width:234px;padding:8px 12px; }
.trade-page .side-right .form-listbox .input-readonly{ padding:8px 12px; }
.trade-page .side-right .form-listbox .input-txt-code{ width:107px; }
.trade-page .side-right .form-listbox .get-code{ line-height:42px;height:42px;border:1px solid #f25623;background:#ffe9e2;color:#f25623;border-radius:0;margin:0;bottom:-1px;font-size:14px;text-transform:none;width:127px; }
.trade-page .side-right .form-listbox .input-box{ border-color:#e5e5e5;border-radius:0;background:#fff; }
.trade-page .side-right .form-listbox .result-msg{ width:100%;font-size:9px; }
.trade-page .side-right .form-title{ padding-top:15px;font-size:24px;text-align:left; }
.trade-page .side-right .form-title span{ display:block;color:#a6a6a6;font-size:14px; }
.trade-page .side-right .submit-btn{ margin-top:20px;border-radius:4px; }
.trade-page .p-tit1{ font-size:35px;padding-top:24px; }
.trade-page .p-tit1 + .p-txt1{ padding-top:15px; }
.trade-page .p-tit2{ font-size:16px;font-weight:bold; }
.trade-page .p-txt1{ font-size:14px;padding-top:22px;color:#555; }
.trade-page .p-txt1 + .p-tit2{ margin-top:40px; }
.trade-page .p-txt-badge{ display:inline-block;vertical-align:top;*display:inline;*zoom:1;color:#f25623;font-size:16px;border:1px solid #ffc3b0;line-height:37px;height:37px;padding:0 14px;border-radius:4px;margin-top:28px;background:#ffe9e2; }
.trade-page .illstr-txt-block{ font-size:14px;*zoom:1;padding-top:35px;padding-bottom:7px; }
.trade-page .illstr-txt-block:before,.trade-page .illstr-txt-block:after{ content:"";display:table; }
.trade-page .illstr-txt-block:after{ clear:both; }
.trade-page .illstr-txt-block li{ float:left;width:33.3%;border:1px solid #e5e5e5;border-left:none;height:438px;margin-left:-1px; }
.trade-page .illstr-txt-block li:first-child{ border-left:1px solid #e5e5e5;margin-left:-2px; }
.trade-page .illstr-txt-block .illstr-item [class*="illstr"]{ display:block;margin:0 auto 30px; }
.trade-page .illstr-txt-block .item-tit{ text-align:center;font-size:20px;padding-top:23px;padding-bottom:26px; }
.trade-page .illstr-txt-block p{ padding:0 21px; }
.trade-page .pic-list{ padding:26px 0 46px;white-space:nowrap; }
.trade-page .pic-list img{ display:inline-block;vertical-align:top;*display:inline;*zoom:1; }
.trade-page .pic-list img + img{ margin-left:26px; }
.trade-page .opgroup-btns{ text-align:center;color:#fff; }
.trade-page .opgroup-btns [class*="i-"]{ display:inline-block;vertical-align:top;*display:inline;*zoom:1;margin-top:17px;margin-right:15px;-webkit-transition:all 0.3s cubic-bezier(0.35, 0.21, 0.4, 1.13);-moz-transition:all 0.3s cubic-bezier(0.35, 0.21, 0.4, 1.13);-ms-transition:all 0.3s cubic-bezier(0.35, 0.21, 0.4, 1.13);-o-transition:all 0.3s cubic-bezier(0.35, 0.21, 0.4, 1.13);transition:all 0.3s cubic-bezier(0.35, 0.21, 0.4, 1.13); }
.trade-page .opgroup-btns [class*="i-"][class*="i-arrow-r"]{ margin-top:23px;*margin-top:7px;margin-right:0;margin-left:10px; }
.trade-page .opgroup-btns .link-group{ *zoom:1;padding:32px 11px; }
.trade-page .opgroup-btns .link-group:before,.trade-page .opgroup-btns .link-group:after{ content:"";display:table; }
.trade-page .opgroup-btns .link-group:after{ clear:both; }
.trade-page .opgroup-btns .link-group.opgroup-btns-bg{ background-image:url(/images/opgroup-btns-bg.png);background-repeat:no-repeat;background-position:center center;background-size:100% 100%; }
.trade-page .opgroup-btns .link-group.group-two .btn{ width:43.5%;margin:0 0.76%;-webkit-transition:all 0.3s cubic-bezier(0.35, 0.21, 0.4, 1.13);-moz-transition:all 0.3s cubic-bezier(0.35, 0.21, 0.4, 1.13);-ms-transition:all 0.3s cubic-bezier(0.35, 0.21, 0.4, 1.13);-o-transition:all 0.3s cubic-bezier(0.35, 0.21, 0.4, 1.13);transition:all 0.3s cubic-bezier(0.35, 0.21, 0.4, 1.13); }
.trade-page .opgroup-btns .link-group.group-two .btn:hover [class*="i-btn-0"]{ opacity:0;width:0;margin-right:0; }
.trade-page .opgroup-btns .link-group.group-two .btn:hover [class*="i-arrow-r"]{ opacity:0;width:0;margin-left:0; }
.trade-page .opgroup-btns .btn{ text-align:right;border-radius:4px;width:540px;height:64px;line-height:64px;font-size:16px;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;display:inline-block;vertical-align:top;*display:inline;*zoom:1;padding:0 2%; }
.trade-page .opgroup-btns .btn span{ font-size:20px;color:#fff; }
.trade-page .opgroup-btns .btn a{ display:block; }
.trade-page .opgroup-btns{ padding-top:4px; }
.trade-page .opgroup-btns .link-group.group-two .btn{ width:260px;height:60px;line-height:60px;padding:0 20px;margin:0 15px; }
.breadcrumb{ font-size:14px;color:#555;line-height:1;padding:13px 0; }
.breadcrumb a{ color:#a6a6a6; }
.breadcrumb a i{ margin:0 1em; }
.breadcrumb i{ font-style:normal; }
.form-box{ padding:50px 36px 20px;height:530px;width:320px;border-bottom-left-radius:8px;border-top-left-radius:8px;box-shadow:-9.851px 12.608px 54px 0px rgba(26, 3, 57, 0.4);background:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) repeat;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#80000000');zoom:1;background:rgba(0, 0, 0, 0.5);-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease; }
:root .form-box{ filter:none\9; }
.form-title{ font-size:36px;text-align:center;padding-bottom:12px; }
.form-listbox{ position:relative;margin-top:18px; }
.form-listbox.actived .input-label{ visibility:visible;transition:top .3s;top:0; }
.form-listbox.inputError .input-txt{ color:#ff3434; }
.form-listbox.inputError .input-box.border-active{ border-color:#ff3434; }
.form-listbox.inputError .result-msg{ display:block; }
.form-listbox.inputting .wrong-icon.wrong-icon-cuo{ display:none; }
.form-listbox.inputting ~ .form-listbox .wrong-icon.wrong-icon-cuo{ display:none; }
.form-listbox.inputting.overlength .wrong-icon.wrong-icon-cuo{ display:block; }
.form-listbox .input-label{ color:#a8acb9;font-size:12px;display:block;margin-bottom:8px;position:relative;text-transform:uppercase; }
.form-listbox .input-txt{ color:#4f5362;font-size:14px;display:block;width:280px;line-height:24px;height:24px;padding:8px 20px;background:none; }
.form-listbox .input-txt::-moz-placeholder{ color:#a8acb9;font-size:14px;opacity:1; }
.form-listbox .input-txt:-ms-input-placeholder{ color:#a8acb9;font-size:14px; }
.form-listbox .input-txt::-webkit-input-placeholder{ color:#a8acb9;font-size:14px; }
.form-listbox .input-readonly{ color:#4f5362;font-size:14px;line-height:24px;height:24px;padding:8px 20px;background:none; }
.form-listbox .input-txt-code{ width:118px; }
.form-listbox .get-code{ background:#f15623;border:1px solid #f15623;cursor:pointer;margin:0;width:146px;line-height:40px;color:#fff;font-size:12px;position:absolute;left:100%;margin-left:16px;bottom:-1px;border-radius:2px; }
.form-listbox .input-box{ position:relative;z-index:1;border:1px solid transparent;background:#eff0f4;border-radius:2px;display:inline-block;vertical-align:top;*display:inline;*zoom:1; }
.form-listbox .input-box.border-active.border-actived{ transition:all .3s; }
.form-listbox .input-box #exmobile{ position:absolute;left:0;top:0; }
.form-listbox .input-box #exmobile + .input-txt{ text-indent:24px;position:relative;z-index:1; }
.form-listbox .result-msg{ position:absolute;bottom:100%;margin-bottom:8px;left:0;width:320px;text-align:right;font-size:12px;color:#ff3434;display:none; }
.submit-btn{ height:50px;line-height:50px;display:block;width:100%;background:#f15623;border-radius:2px;color:#fff;text-align:center;font-size:20px;margin-top:30px; }
.popup-tb{ display:table;width:100%;height:100%; }
.popup-tb .popup-tb-cell{ display:table-cell;vertical-align:middle; }
.registerResultPopup{ position:fixed;left:0;top:0;width:100%;height:100%;background:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) repeat;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC000000',endColorstr='#CC000000');zoom:1;background:rgba(0, 0, 0, 0.8);z-index:9999;text-align:center; }
:root .registerResultPopup{ filter:none\9; }
.registerResultPopup .PopupBox{ margin:0 auto;width:690px;background:#fff;position:relative;*margin-top:150px;border-radius:2px;-webkit-animation-duration:0.6s;-moz-animation-duration:0.6s;-ms-animation-duration:0.6s;-o-animation-duration:0.6s;animation-duration:0.6s; }
.registerResultPopup .PopupBox .PopupCon{ padding:64px 88px;line-height:1.5; }
.registerResultPopup p{ font-size:26px;color:#f15623; }
.registerResultPopup .msg-title{ font-size:50px;color:#1d1c87; }
.registerResultPopup .msg-txt{ font-size:30px;color:#4a499f; }
.registerResultPopup .btn-group{ padding-top:45px; }
.registerResultPopup .btn-group p{ margin-bottom:10px; }
.registerResultPopup .btn-group .btn{ background:#f15623;font-size:40px;color:#fff;border-radius:2px;height:90px;line-height:90px;display:block;width:100%;margin:0;border:none; }
.registerResultPopup .btn-group .btn:hover{ padding-left:0;padding-right:0; }
.banner_form_fixed{ position:absolute;z-index:6;top:50%;right:0;margin-top:-300px;color:#fff;text-align:left;-webkit-transition:bottom 0.3s ease;-moz-transition:bottom 0.3s ease;-ms-transition:bottom 0.3s ease;-o-transition:bottom 0.3s ease;transition:bottom 0.3s ease; }
.banner_form_fixed [class*="i-arrow-"]{ position:absolute;top:50%;left:0;margin-left:-21px;margin-top:-26px;cursor:pointer; }
.banner_form_fixed .i-arrow-show{ display:none; }
.banner_form_fixed.hide .form-box{ width:0;padding-left:0;padding-right:0; }
.banner_form_fixed.hide .form-box > *{ visibility:hidden;opacity:0;filter:alpha(opacity=0); }
.banner_form_fixed.hide .i-arrow-show{ display:block; }
.banner_form_fixed.hide .i-arrow-hide{ display:none; }
.banner_form_fixed.banner_bottom{ position:fixed;top:auto;bottom:0;margin-top:0;width:100%;border-top:10px solid #f15623; }
.banner_form_fixed.banner_bottom.hide .form-box > *{ visibility:visible;opacity:1;filter:alpha(opacity=100); }
.banner_form_fixed.banner_bottom .form-box{ width:100%;text-align:center;padding:16px 0 48px;height:auto;border-radius:0;background:#222; }
.banner_form_fixed.banner_bottom [class*="i-arrow-"]{ display:none; }
.banner_form_fixed.banner_bottom .form-title{ font-size:28px;padding-bottom:20px; }
.banner_form_fixed.banner_bottom .form-listbox{ display:inline-block;vertical-align:top;*display:inline;*zoom:1;text-align:left;margin-top:0; }
.banner_form_fixed.banner_bottom .form-listbox.mail-listbox,.banner_form_fixed.banner_bottom .form-listbox.katasandi-listbox,.banner_form_fixed.banner_bottom .form-listbox .input-label{ display:none; }
.banner_form_fixed.banner_bottom .form-listbox.getcode-listbox{ padding-right:150px;margin-left:18px;margin-right:125px; }
.banner_form_fixed.banner_bottom .form-listbox .get-code{ margin-left:12px; }
.banner_form_fixed.banner_bottom .form-listbox .result-msg{ top:100%;margin-top:5px;text-align:left; }
.banner_form_fixed.banner_bottom .submit-btn{ display:inline-block;vertical-align:top;*display:inline;*zoom:1;width:228px;margin:0;height:42px;line-height:42px; }
@media (max-width: 979px) {
    .form-box{ padding:.72rem .3rem 1rem;height:auto;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:.08rem;box-shadow:-0.09rem 0.12rem 0.54rem 0 rgba(26, 3, 57, 0.4);background:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) repeat;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6000000',endColorstr='#E6000000');zoom:1;background:rgba(0, 0, 0, 0.9);-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none; }
    :root .form-box{ filter:none\9; }
    .form-title{ font-size:.4rem;text-transform:uppercase;padding-bottom:.5rem; }
    .form-listbox{ margin-top:.15rem;text-align:left; }
    .form-listbox .input-label{ display:none; }
    .form-listbox .input-txt{ font-size:.3rem;width:6.88rem;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:.88rem;height:.88rem;padding:0 .3rem; }
    .form-listbox .input-txt::-moz-placeholder{ color:#4f5362;font-size:0.3rem;opacity:1; }
    .form-listbox .input-txt:-ms-input-placeholder{ color:#4f5362;font-size:0.3rem; }
    .form-listbox .input-txt::-webkit-input-placeholder{ color:#4f5362;font-size:0.3rem; }
    .form-listbox .input-readonly{ font-size:.3rem;line-height:.88rem;height:.88rem;padding:0 .3rem; }
    .form-listbox .input-txt-code{ width:3.72rem; }
    .form-listbox .get-code{ -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:3rem;line-height:.9rem;height:.9rem;font-size:.3rem;margin-left:.16rem;border-radius:0.02rem; }
    .form-listbox .input-box{ border-radius:0.02rem; }
    .form-listbox .input-box #exmobile + .input-txt{ text-indent:.5rem; }
    .form-listbox .result-msg{ margin-bottom:.12rem;font-size:.2rem;width:5.16rem; }
    .submit-btn{ height:1.08rem;line-height:1.08rem;border-radius:0.02rem;font-size:.4rem;margin-top:.5rem; }
    .registerResultPopup .PopupBox{ width:6.9rem;border-radius:0.02rem; }
    .registerResultPopup .PopupBox .PopupCon{ padding:.64rem .88rem; }
    .registerResultPopup p{ font-size:.26rem; }
    .registerResultPopup .msg-title{ font-size:.5rem; }
    .registerResultPopup .msg-txt{ font-size:.3rem; }
    .registerResultPopup .btn-group{ padding-top:.45rem; }
    .registerResultPopup .btn-group p{ margin-bottom:.1rem; }
    .registerResultPopup .btn-group .btn{ font-size:.4rem;border-radius:0.02rem;height:.9rem;line-height:.9rem; }
    .banner_form_fixed{ position:inherit;top:0;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;max-width:750px;margin:.96rem auto 0; }
    .banner_form_fixed [class*="i-arrow-"]{ display:none; }
}

/*  ============ sprites ============  */
.illstr1{ width:190px;height:132px;background-image:url("../images/sp_p_trade.png?=834");background-position:0px 0px;background-size:190px 416px;background-repeat:no-repeat; }
.illstr2{ width:190px;height:132px;background-image:url("../images/sp_p_trade.png?=834");background-position:0px -142px;background-size:190px 416px;background-repeat:no-repeat; }
.illstr3{ width:190px;height:132px;background-image:url("../images/sp_p_trade.png?=834");background-position:0px -284px;background-size:190px 416px;background-repeat:no-repeat; }
@media (min-width: 1024px) and (max-width: 1160px) {
    .trade-page .side-main{ width:588px; }
    .trade-page .illstr-txt-block{ font-size:12px; }
    .trade-page .illstr-txt-block .illstr-item [class*="illstr"]{ -webkit-transform:scale(0.8);-moz-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);transform:scale(0.8);margin:0 -8px; }
    .trade-page .illstr-txt-block p{ padding:0 12px; }
    .trade-page .pic-list img{ width:170px; }
    .trade-page .pic-list img + img{ margin-left:7px; }
    .trade-page .opgroup-btns .link-group.group-two{ padding-left:0;padding-right:0; }
    .trade-page .opgroup-btns .link-group.group-two .btn{ width:234px;padding:0 11px;margin:0 2px; }
}
@media (max-width: 1023px) {
    .container{ padding:0 .2rem; }
    .trade-page{ background-image:url(/images/trade/trade-pagem.jpg);background-size:100% auto;padding-bottom:.5rem; }
    .trade-page .plrc{ padding-left:.3rem;padding-right:.3rem; }
    .trade-page .side-main{ width:100%;padding-bottom:.58rem; }
    .trade-page .side-right{ width:100%;background:#f7f7f7;padding-bottom:.56rem; }
    .trade-page .side-right .account-form{ padding:0 .45rem; }
    .trade-page .side-right .form-listbox{ margin-top:.3rem; }
    .trade-page .side-right .form-listbox .input-label{ font-size:.24rem;margin-bottom:.12rem;display:block; }
    .trade-page .side-right .form-listbox .input-txt{ width:6.2rem;padding:.09rem .2rem;font-size:.24rem; }
    .trade-page .side-right .form-listbox .input-txt::-moz-placeholder{ color:#4f5362;font-size:0.24rem;opacity:1; }
    .trade-page .side-right .form-listbox .input-txt:-ms-input-placeholder{ color:#4f5362;font-size:0.24rem; }
    .trade-page .side-right .form-listbox .input-txt::-webkit-input-placeholder{ color:#4f5362;font-size:0.24rem; }
    .trade-page .side-right .form-listbox .input-readonly{ padding:.09rem .2rem;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:.24rem; }
    .trade-page .side-right .form-listbox .input-txt-code{ width:3.84rem; }
    .trade-page .side-right .form-listbox .get-code{ line-height:.9rem;height:.92rem;font-size:.24rem;width:2.35rem; }
    .trade-page .side-right .form-title{ padding-top:.4rem;font-size:.34rem;padding-bottom:.2rem; }
    .trade-page .side-right .form-title span{ font-size:.2rem; }
    .trade-page .side-right .submit-btn{ margin-top:.6rem;border-radius:.04rem;font-size:.3rem;height:.9rem;line-height:.9rem; }
    .trade-page .p-tit1{ font-size:.4rem;padding-top:.26rem; }
    .trade-page .p-tit1 + .p-txt1{ padding-top:.25rem; }
    .trade-page .p-tit2{ font-size:.24rem; }
    .trade-page .p-txt1{ font-size:.2rem;padding-top:.28rem; }
    .trade-page .p-txt1 + .p-tit2{ margin-top:.52rem; }
    .trade-page .p-txt-badge{ font-size:.2rem;line-height:.37rem;height:.37rem;padding:0 .14rem;border-radius:.04rem;margin-top:.4rem; }
    .trade-page .illstr-txt-block{ font-size:.2rem;padding-top:.4rem;padding-bottom:.04rem; }
    .trade-page .illstr-txt-block li{ width:100%;border-left:1px solid #e5e5e5;border-top:0;height:auto;margin-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; }
    .trade-page .illstr-txt-block li:first-child{ margin-left:0;border-top:1px solid #e5e5e5; }
    .trade-page .illstr-txt-block .illstr-item{ position:relative;padding-left:2.36rem;padding-bottom:.37rem;height:1.8rem;display:table-cell;vertical-align:middle; }
    .trade-page .illstr-txt-block .illstr-item [class*="illstr"]{ position:absolute;left:.35rem;top:50%;margin:-.66rem 0 0; }
    .trade-page .illstr-txt-block .illstr-item [class*="illstr"].illstr2{ margin-top:-.93rem; }
    .trade-page .illstr-txt-block .item-tit{ text-align:left;font-size:.24rem;padding-top:.33rem;padding-bottom:.03rem; }
    .trade-page .illstr-txt-block p{ padding:0 21px; }
    .trade-page .pic-list{ padding:.3rem 0 .6rem; }
    .trade-page .pic-list img{ width:31%; }
    .trade-page .pic-list img + img{ margin-left:.22rem; }
    .trade-page .opgroup-btns{ display:none; }
    .breadcrumb{ font-size:.2rem;padding:.15rem 0; }
    .breadcrumb a i{ margin:0 .08rem; }

    /*  ============ sprites ============  */
    .illstr1{ width:190px;height:132px;background-image:url("../images/sp_m_trade.png?=834");background-position:0px 0px;background-size:190px 471px;background-repeat:no-repeat; }
    .illstr2{ width:180px;height:187px;background-image:url("../images/sp_m_trade.png?=834");background-position:0px -284px;background-size:190px 471px;background-repeat:no-repeat; }
    .illstr3{ width:190px;height:132px;background-image:url("../images/sp_m_trade.png?=834");background-position:0px -142px;background-size:190px 471px;background-repeat:no-repeat; }

    /*  ============ sprites rem ============  */
}
@media (max-width: 1023px) and (max-width: 750px) {
    .illstr1{ background-position:0rem 0rem;background-size:1.9rem 4.71rem;width:1.9rem;height:1.32rem; }
    .illstr2{ background-position:0rem -2.84rem;background-size:1.9rem 4.71rem;width:1.8rem;height:1.87rem; }
    .illstr3{ background-position:0rem -1.42rem;background-size:1.9rem 4.71rem;width:1.9rem;height:1.32rem; }
}
@media (max-width: 979px) {
    .form-title{ text-transform:none; }
}
