.popup-tb{display: table;width:100%;height:100%;
  .popup-tb-cell{display: table-cell;vertical-align: middle;}
}
.popLayer-id{position:fixed;left:0;top:0;width:100%;height:100%;@include rgba-background((#000,.26));z-index:9999;
  i{@include inline-block;}
  .popcon{margin: 0 auto;position: relative;*top:80px;
    @include prefixer(animation, fadeInUp .3s ease-in, $prefixes);
    [class*="closeBtn"]{cursor: pointer;position: absolute;right:0;top:0;@include prefixer(transition,all .3s ease,$prefixes);
      &:hover{@include prefixer(transform,rotate(180deg),$prefixes);}
    }
    .pop-tit{
      span{display:block;}
    }
    .pop-txt{}
    .op-btn{
      .btn{@include inline-block;text-align: center;}
    }
  }
  &.updatePop{
    .popcon{
      [class*="popcon"]{padding: 0 .5rem .5rem;}
      .pop-tit{padding-left: .3rem;}
      .pop-txt{
        li{margin-left: 0;}
      }
    }
  }
}
/*开户弹窗*/
.popLayer-id{
  .popcon{width:5.5rem;min-height:7.5rem;border-radius: .06rem;box-shadow: 0 .01rem .45rem 0 rgba(109, 109, 109, .68);
    [class*="popcon"]{background-color:#fff;padding-left:.52rem;border-radius: .06rem;height:100%;padding-bottom: .5rem;}
    [class*="closeBtn"]{top:-.28rem;right:-.28rem;}
    .pop-tit{font-size:.44rem;padding-top: 3.2rem;font-weight: bold;line-height: 1.2;
      span{color:#e77f22;}
    }
    .pop-txt{font-size: .22rem;padding-top: .4rem;color:#919191;
      li{line-height:.3rem;margin-bottom: .15rem;position: relative;padding-left: .3rem;padding-right: .3rem;margin-left: -.1rem;
        .i-list-check{position: absolute;left:0;top:.1rem;}
      }
    }
    .op-btn{padding-top:.35rem;
      .btn{background-color: #e77f22;border-radius: .08rem;width: 4.46rem;height: .8rem;line-height:.8rem;font-size: .3rem;color:#fff;}
    }
    [class*="popcon"]{background-image: url(/public/images/popconOpenAccount-m.png);background-repeat: no-repeat;background-position: center top;background-size: 100% auto;}
  }
}
