

<li>
	<a href="/app/article1.html" class="addLocationPath">
		<div class="inf1">
			<span class="category">News</span>
			<span class="time">08/29 9:03</span>
			<!--<span class="author">Analysts</span>-->
		</div>
		<h5 class="tit">GBP/USD: Peluang Brexit Tanpa Kesepakatan Meningkat Pasca Kegagalan Rencana May</h5>
		<p class="cont">Suggestion: Grasberg di Indonesia menduduki peringkat yang pertama</p>

		<div class="bot 
			
				green
			
			
		 ">
			<span class="item-n">AUDUSD</span>
			
			
			<span>EURUSD</span>
			
			
		</div>
	</a>
</li>

<li>
	<a href="/app/article2.html" class="addLocationPath">
		<div class="inf1">
			<span class="category">Edukasi</span>
			<span class="time">08/29 9:03</span>
			<!--<span class="author">Analysts</span>-->
		</div>
		<h5 class="tit">Kenali Cut Loss dan Mengapa Cut Loss itu Penting</h5>
		<p class="cont">Suggestion: Cut Loss adalah wajib untuk menjaga modal</p>

		<div class="bot 
			
			
				red
			
		 ">
			<span class="item-n">AUDUSD</span>
			
			
			<span>USDJPY</span>
			
			
		</div>
	</a>
</li>

<li>
	<a href="/app/article3.html" class="addLocationPath">
		<div class="inf1">
			<span class="category">Edukasi</span>
			<span class="time">08/29 9:03</span>
			<!--<span class="author">Analysts</span>-->
		</div>
		<h5 class="tit">Apa Itu Trading? </h5>
		<p class="cont">Suggestion: Kegiatan trading paling awal dikenal sebagai barter</p>

		<div class="bot  ">
			<span class="item-n">AUDUSD</span>
			
			
			<span>EURUSD</span>
			
			<span>USDJPY</span>
			
			
		</div>
	</a>
</li>

<li>
	<a href="/app/article4.html" class="addLocationPath">
		<div class="inf1">
			<span class="category">Edukasi</span>
			<span class="time">08/29 9:03</span>
			<!--<span class="author">Analysts</span>-->
		</div>
		<h5 class="tit">Persiapan Untuk Belajar Trading Forex</h5>
		<p class="cont">Suggestion: Trading Forex ibarat tentara pergi berperang,butuh ransel penuh perlengkapan, plus amunisi memadai</p>

		<div class="bot  ">
			<span class="item-n">AUDUSD</span>
			
			
			<span>EURUSD</span>
			
			
		</div>
	</a>
</li>

<li>
	<a href="/app/article5.html" class="addLocationPath">
		<div class="inf1">
			<span class="category">Edukasi</span>
			<span class="time">08/29 9:03</span>
			<!--<span class="author">Analysts</span>-->
		</div>
		<h5 class="tit">Kenali Cut Loss dan Mengapa Cut Loss itu Penting</h5>
		<p class="cont">Suggestion: Cut Loss adalah wajib untuk menjaga modal</p>

		<div class="bot 
			
			
				red
			
		 ">
			<span class="item-n">AUDUSD</span>
			
			
			<span>EURUSD</span>
			
			
		</div>
	</a>
</li>


