<!-- bottom float nav -->
<div class="float_bt">
    <div class="fl-link-group group-two">
        <a href="javascript:void(0);" onclick="openaccount();dataLayer.push({'event':'open_account', 'gtm.elementTarget': $GA_NAME,'gtm.element': 'float_bottom'});" class="fl-a-link"><i class="fl-icon1"></i><span>Buka Akun Live</span></a>
        <a href="http://www.hsb.co.id/apk/hansonApp_prd-yn07-release.apk" onclick="dataLayer.push({'event':'download', 'gtm.elementTarget': $GA_NAME,'gtm.element': 'float_bottom'});" class="fl-a-link"><i class="i-float-download"></i><span>Unduh aplikasi</span></a>
    </div>
</div>