<!-- bottom float nav -->
<div class="float_bt">
    <div class="fl-link-group group-two">
        <a href="javascript:void(0);" onclick="openaccount();dataLayer.push({'event':'open_account', 'gtm.elementTarget': $GA_NAME,'gtm.element': 'float_bottom'});" class="fl-a-link"><i class="fl-icon1"></i><span>Buka Akun Live</span></a>
        <a href="javascript:void(0);" onclick="openLiveChat();dataLayer.push({'event':'chat', 'gtm.elementTarget': $GA_NAME,'gtm.element': 'float_bottom'});" class="fl-a-link"><i class="fl-icon2"></i><span>Chatting Online</span></a>
    </div>
</div>