<!-- right float ad -->
<div class="float_rc_ad wow fadeInRight" id="float_rc_ad">
	<a class="fr_delbtn" href="javascript:void(0)" title="close" onclick="$('#float_rc_ad').hide();"></a>
	<div class="fr_txtpart main-txt">
		<p class="txt-top">Ekslusif untuk nasabah baru</p>
		<span class="line-tit"><i class="line-l"></i>&nbsp;&nbsp;&nbsp;deposit $200&nbsp;&nbsp;&nbsp;<i class="line-r"></i></span>
		<p class="txt-get">dapatkan <span>$300</span></p>
	</div>
	<div class="fr_btnpart">
		<a href="javascript://" onclick="openLiveChat();dataLayer.push({'event':'chat','gtm.elementTarget': $GA_NAME,'gtm.element': 'float_bottom'});" class="online_service">
			<span class="fr_service_btn">Chatting Online</span>
		</a>
	</div>
</div>