<!-- Footer Disclaimer -->
<div id="footer-disclaimer">
    <!-- supervise -->
    <div class="fid-supervise-block">
        <div class="container al-c">
            <i class="i-f-supervise01 wow fadeInLeft"></i>
            <i class="i-f-supervise02 wow fadeInUp"></i>
            <i class="i-f-supervise03 wow fadeInRight"></i>
        </div>
    </div>
    <!-- GW Group Memberships -->
    <div class="container fid-memberships-block footer-border-line1">
        <div class="fid-memberships-list clearfix">
            <ul>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/place/PT+Hanson+Semesta+Berjangka/@-6.213386,106.8196513,17z/data=!4m14!1m6!3m5!1s0x2e69f401bd389707:0x44f6cdff78981013!2sPT+Hanson+International+Tbk!8m2!3d-6.2136759!4d106.8199875!3m6!1s0x0:0xa6e1ba6ecaf76c3e!5m1!1s2018-11-28!8m2!3d-6.213354!4d106.820295?hl=zh-CN" rel="nofollow">
                        <span class="f-map02"></span>
                    </a>
                    <p class="upper-txt">PT. Hanson Semesta Berjangka</p>
                    <p>Address:Mayapada Tower 2 Lt.14 Jln. Jend. Sudirman Kav. 27 RT.4/RW.2, Karet, Kec Setiabudi, Jakarta Selatan 12920</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="container fid-txt-block footer-border-line1">
        <p>PT. HANSON SEMESTA BERJANGKA memiliki izin operasional yang legal dan telah disahkan oleh Badan Pengawas Perdagangan Berjangka Komiditi (BAPPEBTI) Kementerian Perdagangan Republik Indonesia selaku Badan Otoritas Perdagangan Berjangka Komoditi dan Derivative di Indonesia.</p>

        <p>PT. HANSON SEMESTA BERJANGKA juga merupakan suatu Perusahaan Pialang Berjangka yang resmi diakui oleh Pemerintah Republik Indonesia dan menjadi Anggota Bursa Indonesia Commodity & Derivatives Exchange (ICDX).</p>

        <p>PT. HANSON SEMESTA BERJANGKA juga telah menjadi Anggota Kliring yang resmi dari Indonesia Clearing House (ICH) sebagai Lembaga Kliring (Penjamin)</p>
    </div>
    <div class="container clearfix">
        <div class="contact-txt fid-contact-list">
            <p><i class="i-f-phone"></i><span>Phone: +62 21 2500 740</span></p>
            <p><i class="i-f-web"></i><span>Situs web: www.hsb.co.id</span></p>
            <p><i class="i-f-mail"></i><span>Email: info@hsb.co.id</span></p>
        </div>
        <div class="risk-warning">
            <p class="upper-txt">PERINGATAN RISIKO</p>
            <p>Produk dengan leverage memiliki tingkat risiko yang tinggi terhadap modal yang anda investasikan dan disarankan hanya menggunakan dana yang mampu anda tanggung apabila terjadi kerugian. Nilai investasi dapat turun atau naik dan Anda dapat kehilangan pembayaran margin awal anda. Harap diketahui bahwa produk dengan leverage belum tentu cocok untuk semua orang, jadi pastikan anda telah memahami sepenuhnya semua risiko yang terlibat.</p>
            <p class="copyright-txt">© 2019 Hanson Seluruh hak dilindungi undang-undang.</p>
        </div>
    </div>
</div>


